

/* Note to web designers:
this layout is designed with the Twitter Bootstrap layout system.
You should not hard-code point sizes for fonts, you should use em or percentages
so it degrades gracefully on smaller screens. Use http://pxtoem.com/ for conversion.
See base.css for base point sizes used.

We recommend placing customizations in webstore-custom.css which overrides elements in this
file, and leaving this file untouched.
*/

/**** Global settings ******/
h1, h2, h3, h4, h5, h6 { color: #181818; }
input, input:focus { color: #232323;  background-color: #e5e5e5;; border: 10px solid #e5e5e5; }
select, input[type="text"], input[type="password"], input[type="email"],input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus { color: #232323;  background-color: #e5e5e5; border: 10px solid #e5e5e5; }
legend  {  color: #a1a1a1;  }
a, a:visited {  color: #000000;}
a:hover {   color: #000000; }
.darkbutton, .darkbutton a { background-color: #262626; color: white;  }
.lightbutton, .lightbutton a {  background-color: #7f7f7f; color: white; }
.smalldarkbutton {  background-color: #262626; color: white; }
.smalllightbutton {  background-color: #7f7f7f; color: white; }
.smalldarkbutton a, .smalllightbutton a { color: white; }

/***** Login/Logout button *****/
#login, #login a { background-color: #262626; color: white;  }

/***** Navigation (Products dropdown) and tabs *****/
#menubar { border-bottom: 1px dotted #aaaaaa; }
.menuunderline:hover { border-bottom: 5px solid #000000;}

#nav_products ul a { color: white; border-bottom: 1px dotted #cccccc;}
#nav_products ul li ul li a { background: #2c2c2c; border-bottom: 1px dotted #cccccc; }
#nav_products ul li ul li a:hover { background: #2c2c2c; border-bottom: 1px dotted #cccccc; }



/***** Breadcrumbs ******/
.breadcrumbs {  color: #bbbbbb; border-bottom: 1px dotted #aaaaaa;}
.breadcrumbs a { color: #bbbbbb; }

/***** Product Grid *****/
.product_cell { border: 1px #e4e0d8 solid; }
.product_cell_label  { color: #ffffff; background: #262626;}
.product_cell_label .product_cell_price_slash { color: #7f7f7f;}
.product_cell a { color: #ffffff;}
.product_cell_label a { color: #9c9c9c;}

/***** Pagination *****/
#pagination a {color: #888888;  }
#pagination li.page.selected, #pagination li.page.selected a {color: black; }
#pagination li { color: #c7c7c7; }


/***** Search Box *****/
#searchentry { border-bottom: 5px solid black;  }
#searchentry .search_box input { color: #aaaaaa; border: 0px; border-color: transparent; background-color: white; }
#searchentry .searchTextBox .searched { color: #000000; }
#
/***** Mini Cart (right side shopping cart) *****/
#shoppingcarttop .minicart_item { border-top: 1px dotted #bbbbbb; }
#shoppingcarttop .emptymessage {  color: #000; }
#shoppingcartbottom { border-top: 1px dotted #bbbbbb;}

    /* checkout button */
#shoppingcartcheckout { background-color: #262626; color: white; }
#shoppingcartcheckout .checkoutlink a { color: white; text-decoration: none;}
    /* edit cart button */
#shoppingcarteditcart {  background-color: #7f7f7f; color: white;  }
#shoppingcarteditcart .editlink a { color: white; }
    /* continue shopping button */
#shoppingcartcontinue { background-color: #7f7f7f; color: white;  }
#shoppingcartcontinue .editlink a { color: white;}

/**** Generic Cart is used both on checkout and on the Edit Cart screen ****/
#genericcart .cartdecor { color: #aaaaaa; }
/* when editing cart */
#genericcart input[type="text"],#genericcart input[type="text"]:focus { background-color: white; border-bottom: 1px solid black; }

.facebook_wall { border: 1px solid #e7e7e7; }
/***** Sidebar Modules *****/
#sidebar .clickbar { color: #555555; border: 1px dotted #999999; }

/***** Product Details Page *****/
#product_details h3 { color: #a1a1a1; }
#product_details .price_reg { color: #555555;}

#product_details .addcart {background-color: #262626; color: white; }
#product_details .addcart a { color: white;}

#product_details .wishlist { background-color: #7f7f7f; color: white;}
#product_details .wishlist a {  color: white; }

#product_details .grid-view table.items tr.odd { background-color: white; }
#product_details .grid-view table.items tr.even { background-color: white; }


#product_details #photos legend { font-size: 0.7em;}
/***** Checkout page and Registration Page *****/
#checkout legend, #contact-form legend, #orderdisplay legend  { color: #a1a1a1;  }
#checkout .warning, #checkout .errorMessage, #contact-form .warning, #contact-form .errorMessage { color: #dd0000; }
#checkout input[type="text"], #checkout input[type="password"], #checkout input[type="email"], #checkout input[type="select"],#checkout input[type="text"]:focus,#checkout input[type="password"]:focus, #checkout input[type="email"]:focus, #checkout input[type="select"]:focus { border: 7px solid #E5E5E5;  }
#contact-form input[type="text"], #contact-form input[type="password"], #contact-form input[type="email"], #contact-form input[type="select"],#contact-form input[type="text"]:focus,#contact-form input[type="password"]:focus, #contact-form input[type="email"]:focus, #contact-form input[type="select"]:focus { border: 7px solid #E5E5E5; }
#checkout .red,#contact-form .red, .customer_reg_err_msg { color: #dd0000; }
#checkout fieldset { border-bottom: 2px dotted #e7e7e7; }

#checkout #PromoLabel { color: #007700; }

.forgotpassword { color: #ff0000; }


/***** Messages from system *****/
.msg { color: #252525; }

/***** Order/SRO/Quote Display *****/
#orderdisplay .cartlabel, #orderdisplay .label { background-color: white; color: black; }
#orderdisplay input[type="text"],#genericcart input[type="text"]:focus { background-color: white;border-bottom: 1px solid black; }

#orderdisplay fieldset { border-bottom: 2px dotted #e7e7e7; }

/***** Order/SRO/Quote Display *****/
#wishlistdisplay .rowborder { border-bottom: 1px dotted #aaaaaa;}

#wishlistdisplay .link .disabled {color: #cccccc; background-color: #ffffff;}
#wishlistdisplay .addcart {  background-color: #262626; color: white; }
#wishlistdisplay .addcart a { color: white;}
#wishlistdisplay .sharelist { background-color: #7f7f7f; color: black; }
#wishlistdisplay .sharelist a { color: white; }

#wishlistdisplay .editwish a { color: white; text-transform: uppercase; font-size: 0.8em;}

#btnWishListDelete { background-color: #ff9c59;}
#wishlistdisplay .btnDelete { background-color: #ff9c59;}


/***** Footy *****/
#footer .addresshours { background-color: #e9e9e9;}
#footer .copyright {  color: #b7b7b7;   }

/****** jCarousel skin ******/
.jcarousel-skin-slider .jcarousel-container{background:#FFFFFF;border:1px solid #706f73; }
.jcarousel-skin-slider .jcarousel-item-placeholder{background:#fff;color:#000}


