#set-categories-dialog { font-size: 0.7em; }
h4 { font-size: 1.2em; font-weight: 600; }
.tinyfont { width: auto; height: 30px; margin-bottom: 2px; }
#extra { margin-top: 8px; }
.googleselect { width: 500px; height: 27px; margin-bottom: 2px; }
.ginstructions {font-size: 1.1em; line-height: 14px; padding-bottom: 9px; }