@mixin flexbox() {
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}

@mixin direction($val) {
  -webkit-flex-direction: $val;
  flex-direction: $val;
}

@mixin flow($val) {
  -webkit-flex-flow: $val;
  flex-flow: $val;
}

@mixin wrap($val) {
  -webkit-flex-wrap: $val;
  flex-wrap: $val;
}

@mixin justify-content($val) {
  -webkit-justify-content: $val;
  justify-content: $val;
}

@mixin align-self($val) {
  -webkit-align-self: $val;
  align-self: $val;
}
