/* Note to web designers:
this layout is designed with the Twitter Bootstrap layout system.
You should not hard-code point sizes for fonts, you should use em or percentages
so it degrades gracefully on smaller screens. Use http://pxtoem.com/ for conversion.
See base.css for base point sizes used.

We recommend placing customizations in webstore-custom.css which overrides elements in this
file, and leaving this file untouched.
*/

/**** Global settings ******/
h1, h2, h3, h4, h5, h6 { color: #181818; }
input, input:focus { color: #232323;  background-color: #e5e5e5;; border: 10px solid #e5e5e5; }
select, input[type="text"], input[type="password"], input[type="email"],input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus { color: #232323;  background-color: #e5e5e5; border: 10px solid #e5e5e5; }
legend  {  color: #a1a1a1;  }
a, a:visited {  color: #000000;}
a:hover {   color: #000000; }
.darkbutton, .darkbutton a { background-color: #262626; color: white;  }
.lightbutton, .lightbutton a {  background-color: #7f7f7f; color: white; }
.smalldarkbutton {  background-color: #262626; color: white; }
.smalllightbutton {  background-color: #7f7f7f; color: white; }
.smalldarkbutton a, .smalllightbutton a { color: white; }

/***** Login/Logout button *****/
#login {padding-top: 6px;}
#login, #login a { background-color: #262626; color: white;  }

#headerimage {margin-top: 30px;}

/***** Navigation (Products dropdown) and tabs *****/
#menubar { border-bottom: 1px dotted #aaaaaa; height: 36px; }

.menuunderline { height: 34px; }
.menuunderline:hover { border-bottom: 5px solid #000000;}

#nav_products ul a { color: white; border-bottom: 1px dotted #cccccc;}
#nav_products ul li ul li a { background: #2c2c2c; border-bottom: 1px dotted #cccccc; }
#nav_products ul li ul li a:hover { background: #2c2c2c; border-bottom: 1px dotted #cccccc; }



/***** Breadcrumbs ******/
.breadcrumbs {  color: #bbbbbb; border-bottom: 1px dotted #aaaaaa; padding-bottom: 16px; padding-top: 7px;}
.breadcrumbs a { color: #bbbbbb; }

/***** Product Grid *****/
.product_cell { border: 1px #e4e0d8 solid; }
.product_cell_label  { background: #EBEBEB;	border-top: 1px #e4e0d8 solid;}
.product_cell_label .product_cell_price_slash { color: #7f7f7f;}
.product_cell a { color: #888888;}
.product_cell_label a { color: #111111;	font-weight: 600;;}

/***** Pagination *****/
#pagination a {color: #888888;  }
#pagination li.page.selected, #pagination li.page.selected a {color: black; }
#pagination li { color: #c7c7c7; }


/***** Search Box *****/
#searchentry { border-bottom: 5px solid black; margin-top: 4px; height: 33px; }
#searchentry .search_left img { padding-top: 1px; }
#searchentry .search_box input { color: #aaaaaa; border: 0px; border-color: transparent; background-color: white; }
#searchentry .searchTextBox .searched { color: #000000; }

/***** Mini Cart (right side shopping cart) *****/
#shoppingcart {margin-top: 18px;}
#shoppingcarttop .carticon {background: url(images/shoppingcartlight.png) no-repeat 1px -3px;}
#shoppingcarttop .minicart_item { border-top: 1px dotted #bbbbbb; padding-bottom: 41px; }
#shoppingcarttop .emptymessage {  color: #000; }
#shoppingcartbottom { border-top: 1px dotted #bbbbbb;}

    /* checkout button */
#shoppingcartcheckout { background-color: #262626; color: white; }
#shoppingcartcheckout .checkoutlink a { color: white; text-decoration: none;}
    /* edit cart button */
#shoppingcarteditcart {  background-color: #7f7f7f; color: white;  }
#shoppingcarteditcart .editlink a { color: white; }
    /* continue shopping button */
#shoppingcartcontinue { background-color: #7f7f7f; color: white;  }
#shoppingcartcontinue .editlink a { color: white;}

/**** Generic Cart is used both on checkout and on the Edit Cart screen ****/
#genericcart .cartdecor { color: #aaaaaa; }

/* when editing cart */
#genericcart input[type="text"],#genericcart input[type="text"]:focus { background-color: white; border-bottom: 1px solid black; padding-bottom: 5px;}

#cartItems .row-fluid { border-bottom: 1px dotted #999999; padding: 15px 0 10px; }

.facebook_wall { border: 1px solid #e7e7e7; }
/***** Sidebar Modules *****/
#sidebar .clickbar { color: #555555; border: 1px dotted #999999; }

#sidebar .containers {
	border: 1px dotted #999;
	border-top: none;
	text-transform: uppercase;
	margin: 0 0 10px;
	padding: 14px;
	width: auto;
	display: none;
	clear: both;	
}

#sidebar .containers form { margin-bottom: 2px; }

#sidebar .containers input { margin-top: 5px; }

#sidebar .containers input[type="text"] { width: 90%; }

#sidebar .containers input[type=submit] { width: 100%; }

/***** Product Details Page *****/
#product_details #photos legend { font-size: 0.7em; }

#product_details h3 { color: #a1a1a1; }
#product_details .description h2 { font-size: 14pt;}
#product_details .price_reg { color: #555555;}

#product_details .addcart { background-color: #262626; color: white; padding-bottom: 32px;}
#product_details .addcart a { color: white;}

#product_details .wishlist { background-color: #7f7f7f; color: white; padding-bottom: 32px; }
#product_details .wishlist a {  color: white; }

#product_details .grid-view table.items tr.odd { background-color: white; }
#product_details .grid-view table.items tr.even { background-color: white; }

/***** Checkout page and Registration Page *****/
#checkout legend, #contact-form legend, #orderdisplay legend  { color: #a1a1a1;  }
#checkout .warning, #checkout .errorMessage, #contact-form .warning, #contact-form .errorMessage { color: #dd0000; }
#checkout input[type="text"], #checkout input[type="password"], #checkout input[type="email"], #checkout input[type="select"],#checkout input[type="text"]:focus,#checkout input[type="password"]:focus, #checkout input[type="email"]:focus, #checkout input[type="select"]:focus { border: 7px solid #E5E5E5;  }
#contact-form input[type="text"], #contact-form input[type="password"], #contact-form input[type="email"], #contact-form input[type="select"],#contact-form input[type="text"]:focus,#contact-form input[type="password"]:focus, #contact-form input[type="email"]:focus, #contact-form input[type="select"]:focus { border: 7px solid #E5E5E5; }
#checkout .red,#contact-form .red, .customer_reg_err_msg { color: #dd0000; }
#checkout fieldset { border-bottom: 1px dotted #999999; }

#checkout #PromoLabel { color: #007700; }

input[type=submit] {
	background: #111111;
	text-transform: uppercase;
	color: #FFFFFF;
	border-radius: 0;
	text-shadow: none;
	font-weight: 100;
	border: none;
	display: block;
	height: 30px;
	margin: 15px 0 0 0;
}

input[type=button], input[type=submit], button, input#btnSubmit, input#checkoutSubmitButton, #btnSendWishList {
	background: #7f7f7f;
	text-transform: uppercase;
	color: #FFFFFF;
	border-radius: 0;
	text-shadow: none;
	font-weight: 400;
	border: none;
	display: block;
	height: auto;
	padding: 15px 30px;
	font-size: 10pt;
}

input[type=button]:hover, input[type=submit]:hover, button:hover, #shoppingcartcontinue:hover, #btnSubmit:hover, #checkoutSubmitButton:hover, #btnSendWishList:hover,
input[type=button]:focus, input[type=submit]:focus, button:focus, #shoppingcartcontinue:focus, #btnSubmit:focus, #checkoutSubmitButton:focus, #btnSendWishList:focus {
	background: #e4e0d8;
	color: #FFFFFF;
	border: none;
    outline: none;
    /*padding: 15px 30px;*/
    /*font-size: 10pt;*/
    /*font-family: Dosis;*/
}

label {
	text-transform: uppercase;
	font-weight: 400;
}

.forgotpassword { color: #ff0000; }


/***** Messages from system *****/
.msg { color: #252525; }

/***** Order/SRO/Quote Display *****/
#orderdisplay .cartlabel, #orderdisplay .label { background-color: white; color: black; }
#orderdisplay input[type="text"],#genericcart input[type="text"]:focus { background-color: white;border-bottom: 1px solid black; }

#orderdisplay fieldset { border-bottom: 2px dotted #e7e7e7; }

/***** Order/SRO/Quote Display *****/
#wishlistdisplay .rowborder { border-bottom: 1px dotted #aaaaaa;}

#wishlistdisplay .link .disabled {color: #cccccc; background-color: #ffffff;}
#wishlistdisplay .addcart {  background-color: #262626; color: white; }
#wishlistdisplay .addcart a { color: white;}
#wishlistdisplay .sharelist { background-color: #7f7f7f; color: black; }
#wishlistdisplay .sharelist a { color: white; }

#wishlistdisplay .editwish a { color: white; text-transform: uppercase; font-size: 0.8em;}

#btnWishListDelete { background-color: #ff9c59;}
#wishlistdisplay .btnDelete { background-color: #ff9c59;}


/***** Footy *****/
#footer .copyright {color: #b7b7b7;}
#footer .span12 {background-color: #e9e9e9;}

/****** jCarousel skin ******/
.jcarousel-skin-slider .jcarousel-container{background:#FFFFFF;border:1px solid #706f73; }
.jcarousel-skin-slider .jcarousel-item-placeholder{background:#fff;color:#000}

.jcarousel-skin-slider .jcarousel-container {
	background: #FFFFFF;
	/*border: none;*/
	/*border-radius: 0;*/
}

.jcarousel-skin-slider .caption {
	/*background: #ebebeb;*/
	padding: 10px;
}

.jcarousel-skin-slider .jcarousel-item {
	text-align: center; 
	/*border: 1px solid #E4E0D8;*/
	height: auto;
}

.jcarousel-skin-slider .jcarousel-prev-horizontal {
	background: transparent url(images/arrow.png) no-repeat 0 0;
		-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
	top: 93px;
}

.jcarousel-skin-slider .jcarousel-next-horizontal {
	background: transparent url(images/arrow.png) no-repeat 0 0;
	top: 93px;
}

#yw1-widget .summary {
	text-transform: uppercase;
}

.ui-corner-all {
	border-radius: 0;
	border: 1px dotted #999999;
}

.ui-dialog .ui-widget-header {
	border: none;
	border-bottom: 1px dotted #999999;
	background: none;
	border-radius: 0;
	text-transform: uppercase;
	font-weight: 400;
	margin: -5px -5px 5px -5px;
	height: 25px;
	padding-top: 10px;
}

@media only screen and (max-width: 767px) {/* iPhone */
    #headerimage { margin-top: 5px; text-align: center; }
    #login { padding-top: 12px; margin-top: 5px; margin-bottom: 0px; }
    #langmenu { text-align: center; margin-top: 10px; }
    #menubar-xs a.btn.btn-navbar {
        color: white;
        background-color: #7f7f7f;
    }
    #menubar-xs .nav-collapse.nav-collapse { background: #ebebeb; }
    #menubar-xs .nav-collapse ul ul { display: none; }
    #menubar-xs .nav-collapse ul.nav li { border-bottom: 1px dotted #7f7f7f; }
    #menubar-xs .nav-collapse .nav > li > a:hover { background-color: white; }
    #menubar-xs .nav-collapse .nav ul li { list-style: none; border: 0; }

    #product_details .productheader h1.title { margin-left: 0px; }
}