.index-header {
    background:  url('images/green/header.jpg');
    height: 400px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: content-box;
}
.subpage-header {
    background:  url('images/green/headershort.jpg') no-repeat;
}

@media (min-width: 1201px) {
    .subpage-header { background-position: 0 -80px; }
}

@media (max-width: 1200px) {
    .subpage-header { background-position: 0 -60px; }
}

@media (max-width: 1074px) {
    .subpage-header { background-position: 0 -40px; }
}

@media (max-width: 962px) {
    .subpage-header { background-position: 0 -20px; }
}

@media (max-width: 860px) {
    .subpage-header { background-position: 0 0px; }
}

@media (max-width: 767px) {
    .subpage-header { background-position: 0 -36px; }
}