a, a:visited {color: #515151;outline: 0;font-weight: normal;text-decoration: none;}
a:hover {position: relative;}
a[data-title]:hover:after {
    content: attr(data-title);
    padding: 4px 8px;
    color: #333;
    position: absolute;
    left: 0;
    top: 100%;
    white-space: nowrap;
    z-index: 50;
    -moz-box-shadow: 0px 0px 4px #222;
    -webkit-box-shadow: 0px 0px 4px #222;
    box-shadow: 0px 0px 4px #222;
    background-color: #ffffff;
}
#searchentry{
    font-size: 17px;
    padding-left:0 !important;
    min-width: 270px;
    border-bottom: none;
    background-color: transparent;
    padding-top: 8px;
    padding-left: 10px;
    text-transform: capitalize;
    font-size: 16px;
}
.search_advanced a>i{color:#ccc;transition: color 0.5s ease;}
#searchentry .span1{
    border: solid #ccc 1px;
    height: 38px;
    width: 38px;
    padding: 8px;
    text-align: center;
    margin-left: 0;
    transition: border 0.5s ease;
    transition: color 0.5s ease;
}
#searchentry .span1:hover .search_advanced a>i{color: #555555;}
#searchentry .span8{
    border: solid #ccc 1px;
    padding: 5px;
    margin-left:0;
    height: 38px;
    float: left;
    transition: border 0.5s ease;
}
#searchentry .span1:hover, #searchentry .span8:hover{border: solid #555555 1px;}
#searchentry .search_left img {padding: 5px;}
#searchentry .search_box input {height: 20px;padding-left: 5px;}
#searchentry form{margin:0;}

#xlsSearch input{height: 30px;}

select { height: 28px;}

.errorMessage {color: #dd0000;}

input[type="button"], input[type="submit"], button, input#btnSubmit, input#checkoutSubmitButton, #btnSendWishList { margin-top:10px; text-transform:uppercase;}
input::-webkit-input-placeholder { /* WebKit browsers */color:    #515151;transition: color 0.2s ease;}
input:hover::-webkit-input-placeholder, input:focus::-webkit-input-placeholder {color: #ccc;}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */color: #515151;}
input::-moz-placeholder { /* Mozilla Firefox 19+ */color: #515151;}
input:-ms-input-placeholder { /* Internet Explorer 10+ */color: #515151;}

#container {max-width:100%;min-height: 100%;padding: 0px;margin: 0px;}
#viewport {max-width: 960px;min-height: 300px;margin: auto;}
.viewport {padding: 20px;}

.alert {max-width: 70%;margin-left: auto;margin-right: auto;}
.loginDiv {
    padding-right: 10px;
    margin-top: 20px;
    margin-left: 0;
    text-align: right;
}
#login, .wishlists {
	background-color: transparent;
	z-index: 100;
    text-transform: capitalize;
    padding-top: 10px;
    display: inline;
}
#login, #login a {text-transform: none;}
#login a, #login a:hover, #login a:visited, .wishlists a, .wishlists a:hover, .wishlists a:visited {background-color: transparent;color: #515151;}
#wishlistsearch { margin-top: 25px; }
.wishlists { margin-left: 15px; }
#headerimagebg {margin-top: 0px;}
#headerimage {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.subpage-header {margin-left: 0;margin-right: 0;width:100%;overflow: hidden;background-size:cover !important;}
#menubar {
    padding: 70px 10px 15px;
    border-bottom: 0px !important;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.9em;
}
#headerimagebg {margin-top: 0;}
.langlinks {text-align: right;}
.langlinks a {text-decoration: none;padding-right: 2px;font-size: 1em;}
#langdrop {text-align: right;}
#langmenu {margin-top: 5px;}
#langmenu select {
    float: right;
    font-size: 0.8em;
    height: 33px;
    padding-left: 10px;
}
#nav_products .dropspace .arrow { float: right; margin: 3px 7px 0 3px; }
#nav_products .dropspace { width:196px; }
#nav_products .dropspace li { width:196px; border-top: 1px white dotted; }
#nav_products .dropspace li a,
#nav_products .dropspace li a:hover,
#nav_products .dropspace li a:active { background-color: rgba(58, 61, 68, 1); width:180px; }
#nav_products .dropspace li ul { width:196px; }
#nav_products .dropspace li ul li { width:196px; }

.logo { text-align: center; position: relative; top: 100%; }

#topbar {height: 60px;padding-bottom: 20px;margin-bottom:20px; margin-left: 10px;
}
.hoveredList {
    border-bottom: 1px solid white;
    color: black !important;
    background-color: #404349 !important;
}

#menubar a,
.productstab,
.nav_menuheader {
	color: white !important;
    text-transform: none;
}

#menutree  a:hover {color: #ffffff;}

.menutab {
	height: 35px;
	border-bottom: 1px solid white;
	margin: 0px !important;
}

.products {
    height: 38px;
    padding-top: 3px;
}
.menuunderline:hover {
    border-bottom: 5px solid white;
}

#menutabs { margin-left: -15px; }
.menutabs li { display: inline; }

#xlsSearch { margin-top: 2px; }

.shoppingcartholder { position:relative; }

.shoppingcartarrow {
    background: transparent url(images/top.png) no-repeat 0 0;
    width: 18px;
    height: 16px;
    position: absolute;
    top: -10px;
    right: 15px;
}

.shoppingcartpopup {
    z-index: 1000;
    position: absolute;
    top: 33px;
    right: 5px;
    width: 310px;
    height: 360px;
    background: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27);
}

#shoppingcartbottom {
    padding: 10px 16px 10px 50px;
    margin-top: 10px;
    line-height: 25px;
    border-top: 1px dotted #aaaaaa;
}

#shoppingcartbottom .cart_label {
    text-align: left;
}
#shoppingcarttop .minicart_item { border-top: none; }

#shoppingcartwrapper {
	position: absolute;
	top: 6px;
    right: 10px;
	background-color: rgba(256, 256, 256, 1);
	-webkit-border-radius: 0px 0px 7px 7px;
    height: 32px;
	overflow: hidden;
    z-index: 1000;
}

#shoppingcartwrapper #sidebar {
	width: 100%;
	background-color: rgba(256, 256, 256, 0.7);
	margin: 0px;
}

#shoppingcartcheckout {
	background-color: #293639;
}

#shoppingcarteditcart {
	background-color: #687574;
}

#sidebar .clickbar {
	border: none;
}
#shoppingcarteditcart .editlink a {text-decoration: none;color: white;}
#wsborderlookup input{border: 1px solid silver;}
.breadcrumbs {
	max-width: 960px;
	margin-top: -25px;
    margin: auto;
    padding: 20px;
}
#gridheader {margin-left: 50px;}
#shoppingcartcontinue {
    color: white;
    background-color: #a5a7b1;
    max-width: 190px;
    min-width: 190px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    font-size: 1em;
    padding: 10px;
    line-height: 25px;
}

#shoppingcartcheckout .checkoutlink a,#shoppingcartcheckout .checkoutlink a:visited {
    color: white;
}
#custom_content {max-width: 860px;margin-left: 50px;}
#custom_content span, p {
	margin-top: 10px !important;
	margin-bottom: 20px !important;
	padding: 0px !important;
}
#custom_content h1 {font-size: 2.5em;margin-bottom: 20px;}
#custom_content h1, #custom_content h2, #custom_content h3, #custom_content h4, #custom_content h5 {margin-bottom: 20px;}

.cat-thumbs {margin-top: 22px !important;}
.cat-thumbs a{margin-right: 20px;margin-left: 20px;}

.bottomcontent {max-width: 960px;margin-top: 28px !important;}
.bottomcontent img {width: 100% !important;height: auto !important;}

#fullWidth {width: 100%;}

.topcontent , .bottomcontent {font-size: 150%;}

.pics1 img {width: 920px !important;margin-left: 0px !important;margin-right: 0px !important;}
.pics2 img {width: 460px !important;}
.pics3 img {width: 292px !important;height: auto !important;}
.pics4 img {width: 210px !important;height: auto !important;}
.pics2 a:nth-child(1){margin-left: 0px;}
.pics2 a:nth-child(2){margin-right: 0px;}
.pics3 a:nth-child(1){margin-left: 0px;}
.pics3 a:nth-child(3){margin-right: 0px;}
.pics4 a:nth-child(1){margin-left: 0px;}
.pics4 a:nth-child(4){margin-right: 0px;}

.imgalt {
	display: inline-block;
	position: relative;
	background-color: rgba(41, 54, 57, 0.5);
	font-weight: bolder;
	color: white;
	margin-left: -10%;
	padding: 9px 0px 10px 0px;
	top: -14px;
	font-size: 1.3em;
	text-align: center;
}

.imgalt:hover {
	background-color: rgba(41, 54, 57, 1);
	-webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
}

#wrapperDiv {
	max-width: 960px;
	position: relative;
  	left: 50%;
	margin-left: -480px;
}

#wrapperDiv .product_cell_label {
	position: relative;
	margin-top: 0px;
	min-height: 70px !important;
	z-index: 104 !important;
	background-color: rgba(77, 83, 100, 0.5);
}

#wrapperDiv .product_cell_label a{
	text-align: center;
	color: #fbfbfb;
	font-weight: lighter;
}

#wrapperDiv .product_cell img {
	z-index: 103 !important;
	/*width: 250px;*/
	margin-top: 0px;
	max-height: 225px;
	overflow: hidden !important;
}

#wrapperDiv .product_cell_price {
	margin-left: 20px;
}

#wrapperDiv .product_cell_label .product_cell_price {
	position: relative;
	left: -5%;
	margin-top: 8px;
	font-size: 1.2em;
	color: #fbfbfb;
	text-align: center !important;
	font-weight: bold;
}

.product_cell_graphic img {
    opacity: .9;
    -webkit-transform: scale(1,1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1,1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
}

.product_cell_graphic img:hover {
	opacity: 1;
    -webkit-transform: scale(1.05,1.07);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: translate(0px,-7px) scale(1.05,1.07);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
}

#product {
	max-width: 960px;
	position: relative;
  	left: 50%;
	margin-left: -480px;
}
#ShoppingCart input[type="button"], #ShoppingCart button,
#product_details .wishlist { background-color: #a5a7b1; }
#ShoppingCart .addcart button, #product_details .addcart  { background-color: #525b6d; }
#ShoppingCart .addcart button { margin-top: 10px; float: right; }
#product_details .wishlist a,
#product_details .addcart a { color: white; font-size: 1em; }

#product_details .addcart, #product_details .wishlist, #SelectSize,
#ShoppingCart input[type="button"], #ShoppingCart button, #SelectColor {
	max-width: 160px;
	min-width: 160px;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
	font-weight: bold;
    line-height: 15px;
}
#product_details #SelectSize {
	margin-right: 19px;
}
#product_details #SelectColor, #product_details #SelectSize{
    font-size: 1em;
	font-weight: normal;
	color: gray;
    padding-left: 10px;
}
#product_details .productheader {
	margin-top: 20px;
}
#product_details .addcart:hover, #product_details .wishlist:hover {
	/*border-top: 3px solid transparent;*/
    color: #ffffff;
}
#product_details .description h2{
	font-size: 1.2em;
	font-weight: normal;
	text-transform: capitalize;
}
#product_details .jcarousel-container {
    border-left: 0px;
    border-right: 0px;
    border-top: 1px dotted #aaaaaa;
    border-bottom: 1px dotted #aaaaaa;
    border-radius: 0px;
}

.jcarousel-skin-slider .jcarousel-container-horizontal {
    width: 100%;
    padding: 20px 40px;
}

.jcarousel-skin-slider .jcarousel-prev-horizontal,
.jcarousel-skin-slider .jcarousel-next-horizontal {
    top: 45%;
}

.jcarousel-skin-slider .jcarousel-item-horizontal {
    margin: 0px;
    padding: 15px;
    text-align: center;
}

.jcarousel-prev-disabled, .jcarousel-next-disabled {display:none!important;}
.jcarousel-item .jcarousel-skin-slider.caption {
    background-color: rgba(77, 83, 100, 0.5);
    color: #fbfbfb;
    font-weight: lighter;
    width: 160px;
    min-height: 60px;
    padding: 2px;
}

#contact-page {padding: 10px 20px;width: 95%;}
#contact-page label {margin-top: 12px;}
#contact-form {padding: 0;margin: 0;}

#contact-form .span6{
	width: 100%;
	margin: 0px;
}

#ContactForm_contactBody {
	min-width: 75%;
	min-height: 150px;
}

.registerDiv {
	position: relative;
	max-width: 960px;
	padding: 10px 20px 10px 20px;
}

.registerDiv h1 { padding-bottom: 25px; }

.shoppingcartitems {
    height: 191px;
    overflow: auto;
    width: 100%;
}

#footer .addresshours {
	background-color: rgba(77, 83, 100, 0.5);
	color: #666666;
	font-size: 75%;
    margin: 30px 0px 15px 0;
    padding-top: 30px;
    padding-bottom: 30px;
    height: 36px
}

#footer a, #footer .bottomtabs {
    color: white;
    font-weight: bold !important;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.3em;
    line-height: 2em;
}

#footer a:hover {
    text-decoration: underline;
}

#footer .addresshours .indentr {
    text-align: right;
}

#footer .footertabs {
    text-align: center;
    line-height: 36px;
}

#footer .bottomtabs {
	position: relative;
	top: -92px;
	height: 30px;
	z-index: 800;
}
#footer .copyright {
    text-align: center;
    max-width: 100%;
    padding: 0 0 20px;
}

.span3 {
	float: left;
}
.row-fluid .span9{
	width: 100%;
}
#nav_products {
    height: 35px;
}

#nav_products ul li ul li a {
	background: #3A3D44;
}
#nav_products ul li ul li a:hover {
	background: #3A3D44;
}

#nav_products .dropspace {
	margin-top: 0px !important;
    padding-top: 17px;
}
.clearfix {
	max-width: 90%;
}
.no-margin {
	margin: 0px !important;
}
#login {
	color: silver;
}

.ui-widget-header {
	background: #b8c0d1 !important;
}
#ui-id-1 {
	color: white;
}
.ui-widget-content {
	background: rgba(256, 256, 256, 0.6) !important;
}
.ui-dialog .buttons input{
	background: #6f727b !important;
	color: white;
}
.ui-dialog .buttons input:hover{
	color: #eff2f7;
}
.ui-dialog .span4 {
	max-width: 70%;
}
.ui-dialog .span4 {
	margin-top: 10px;
}

li.page.selected {
    text-decoration: underline;
}

#pagination li.page.selected, #pagination li.page.selected a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}



#nav_products li ul ul {
    margin: -36px 0 0 180px;
}

.treeview li {
    list-style: none;
}


.table th, .table td {
    border:none;
    font-size: 1em;
}

#genericcart input[type="text"],
#genericcart input[type="text"]:focus
{
    font-size: 1em;
    border: 7px solid #E5E5E5;
    text-transform: none;
    padding: 2px;
    margin: 0;
    width: auto!important;
    max-width: 60px;
}

.shoppingcarthidden {
    display: none;
}

#shoppingcarttop .minicart_desc {
    font-size: 0.75em;
}

#shoppingcarttop .minicart_price {
    font-size: 0.75em;
}


.jcarousel-skin-slider .jcarousel-next-horizontal {
    position: absolute;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(images/next.png) no-repeat 0 0;
}

.jcarousel-skin-slider .jcarousel-prev-horizontal {
    position: absolute;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(images/prev.png) no-repeat 0 0;
}

.jcarousel-skin-slider .jcarousel-next-horizontal:hover, .jcarousel-skin-slider .jcarousel-next-horizontal:focus, .jcarousel-skin-slider .jcarousel-prev-horizontal:hover, .jcarousel-skin-slider .jcarousel-prev-horizontal:focus {
    background-position: 0 0;
}


.login input[type="text"], .login input[type="password"], .login input[type="text"]:focus {
    width: 250px;
    max-width: 250px;
}

#login-form input[type="checkbox"] { display: inline; }
#login-form label[for="LoginForm_rememberMe"] { display: inline; vertical-align: bottom; }
#login-form .forgotpassword a { font-size: 12px; margin-left: 15px; vertical-align: text-bottom; }
.rememberMe label[for="CustomerAddress_residential"] { vertical-align: bottom; }

#btnSubmit,
#btnModalLogin,#CheckoutForm_btnPromoCode,#btnCalculate,#checkoutSubmitButton{
    color: white;
    background-color: rgb(165,167,177);
    max-width: 170px;
    min-width: 160px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border: 0;
    border-radius: 3px;
    /*font-size: 1em;*/
    padding: 10px;
    line-height: 15px;
    font-weight: normal;
    margin: 25px auto 0px;
    vertical-align: baseline;
}
{ background-color: #525b6d; }
#CheckoutForm_btnPromoCode,
#btnCalculate,#checkoutSubmitButton{ margin-top:0; }
#CheckoutForm_btnPromoCode:active, #btnCalculate:active, #btnSubmit:active, #checkoutSubmitButton:active{outline:0; background-color: #525b6d;}
#CheckoutForm_btnPromoCode:focus, #btnCalculate:focus,#checkoutSubmitButton:focus, #btnSubmit:focus{outline:0;}
#checkout .span4, #checkout .span2{margin-bottom:20px; margin-right:20px; margin-left: 0;}
#checkout #shippingState .span2, #checkout #shippingCountry{margin-bottom:20px; margin-right:0; margin-left: 0;}

#btnSubmit:hover,
#btnModalLogin:hover,#checkoutSubmitButton{
    background-color: #363f73;
}

#LoginForm {
    margin-bottom: 0px;
    background: white!important;
}

#footer .addresshours {
    color: white;
}
@media (min-width: 1600px) {
    #wishlistdisplay, #myaccount { max-width: 700px; }
}

@media (max-width: 1600px) {
	#headerimagebg {
		margin-top: 0%;
	}
    #wishlistdisplay, #myaccount { max-width: 700px; }
}

@media (max-width: 1200px) {
	#headerimage {
		margin-top: 3%;
	}
    #wishlistdisplay, #myaccount { max-width: 700px; }
	#footer .bottomtabs{
		top: -72px;
	}
	#footer .addresshours{
	}
}
@media (max-width: 1921px) {
	#nav_products .dropspace a{
		font-size: 100% !important;
	}
}
@media (min-width: 1921px) {
	#menubar .span2, #menubar .span7 {
		top: 240px;
	}
	.dropspace a {
		font-size: 100% !important;
	}
}
@media (min-width: 2200px) {
	#searchentry {
		top: 20px;
	}
	#shoppingcartwrapper {
		top: 80px;
	}
	#menubar .span2, #menubar .span7 {
		top: 320px;
		font-size: 130%;
	}
	#nav_products .dropspace a{
		font-size: 70% !important;
	}
	.nav_menuheader {

	}
}
@media (max-width: 1200px) {
    #menubar {
        width: 80%;
    }
    #myaccount { max-width: 700px; }
}
@media (max-width: 980px) { /*iPad vertical and below */
    #wrapperDiv {
         max-width: 100%;
         position: relative;
         left: 0;
         margin-left: 0;
     }
    #product, #viewport form, #gridheader {
        margin-left: 0px;
        /*max-width: 100%;*/
        position: relative;
        left: 0;
        margin-left: 0;
    }
    #product_details .jcarousel-container {
        width: 80%;
        padding-left:10%;
        padding-right:10%;
    }

    .responsive-break {
        clear: both;
        text-align: center!important;
        width:100%!important;
        margin: 10px 0!important;;
        padding: 0 10px!important;
    }

    #footer .addresshours {
        height: 160px;
    }

    #wishlistdisplay, #myaccount { max-width: 700px; }

    .loginDiv a { font-size: 12px; }

}
@media  (max-width: 867px) {
    .wishlists { margin-left: 6px; }
    .loginDiv a { font-size: 12px; }
}
@media (max-width: 767px) { /*iPad vertical and below */
    a[data-title]:hover:after {
        left: -110px;
    }
    .spyglass{
        display:inline;
    }
    #searchentry .span8{
        width: 70%;
        float: left;
    }
    #searchentry .span1{
        float:left;
    }
    #menubar {
        width: 100%;
        height: auto;
        padding: 10px;
    }

    #menutabs {
        margin-top: 10px;
    }

    #menubar .menutab {
        width: 100%;
        margin: auto!important;
        border: 0;
    }
    #searchentry {
        margin-bottom: 25px;
        width: 346px;
    }
    .search_advanced a {
        font-size: 1em;
        text-align: right;
    }
    .logo {
        top: 0;
    }

    #topbar {
        min-height: 60px;
        height: auto;
    }

    #wrapperDiv .product_cell_label a {
        padding-top: 20px;
    }

    #wrapperDiv .product_cell_label .product_cell_price {
        left: auto;
        margin: 0;
    }
    .loginDiv {
        text-align: center;
    }
    #langmenu select {
        float: none;
        margin: auto;
    }
    .langlinks {
        text-align: center;
        padding-top:5px;
    }

    #ShoppingCart input[type="button"], #ShoppingCart button { min-width: 100%; }
}
@media (max-width: 979px) and (min-width: 768px){
    .row-fluid [class*="span"]{
        margin-left:0;
    }
}
