.webstore-modal-overlay {
  .wishlists, .address-blocks {
    .add {
      //MO added the button class to support links with button like look-n-feel
      button, .button {
        border: 1px solid #ccc;
        background: none;
        color: #999;
        width: 100%;
        padding: 20px 0;

        @include transition(color .3s, border .3s, background .3s);

        &:before {
          content: '+';
          margin-right: 5px;
        }

        &:hover {
          background: $blue;
          border-color: $blue;
          color: #fff;
        }
      }
    }
  }

  .address-blocks, .wishlists {
    @include flexbox();
    @include justify-content(space-between);
    @include wrap(wrap);

    width: 100%;

    margin: 0;
    padding: 0;
    list-style: none;

    li {
      width: 100%;
      position: relative;
      margin: 0 0 1rem;

      @include media(small) {
        width: 47%;
      }
    }

  }
  .billing-block {
    p{
      font-size: .75rem;
    }

  }
  .address-block{
    p {
      position: relative;

      margin: 0;
      padding: 10px 2px 10px 25px;

      border: 1px solid #ddd;

      font-size: .75rem;
      color: #777;
      line-height: 1.5;

      &:before {
        font-size: .75rem;
        content: "TO";
        font-weight: bold;
        color: #666;
        border: 1px solid #ccc;
        background-color: #eee;
        position: absolute;
        top: 10px;
        padding: 3px 6px 2px;
        left: -15px;
      }

      .controls {
        display: block;
        margin-top: 5px;

        a {
          &.delete { color: #c00;
            &:hover {
              border-bottom: 1px solid #c00;
            }
          }
          &:hover {
            border-bottom: 1px solid $blue;
          }
        }
      }

      .shipper {
        display: block;
        margin-top: 5px;

        .price {
          font-size: .75em;
          color: #888;
        }
      }

      &.default {
        &:after {
          font-size: .75rem;
          color: #888;
          border: 1px solid #ccc;
          background-color: #eee;
          position: absolute;
          top: 10px;
          padding: 3px 6px 2px;
          right: -10px;
          text-transform: uppercase;

        }
      }
      &.default {
        &:after {
          content: 'Default Shipping';
        }
      }
    }

    button.small {
      width: 100%;
      margin-bottom: .5rem;

      &.default {
        background-color: darken($blue,10%);
        &:before {
          content: '\2713';
          margin-right: 5px;
        }
      }

      &.secondary {
        background-color: #eee;
        color: #666;
        width: 48%;
        margin-bottom: 0;

        &:last-child {
          margin-left: 4%;
        }
      }
    }

    &.address-block-alter {
      position: relative;
      margin-bottom: 15px; //MO

      p {
        width: 60%;
      }
      button {
        width: auto;
        position: absolute;
        top: 32%;
        left: 60%;
        margin-left: 15px;
      }
    }
  }
  .address-block-pickable {
    p { border-bottom: none; }
  }
}