#webstore-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

.webstore-modal {
	visibility: hidden;
	cursor: pointer;
	position: fixed;
	z-index: 2;

	// Sets overlay background color
	background-color: rgba(#000,0);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	font-family: $webstore-modal-font;
    text-align: center;

	@include perspective(1300px);
	@include transition-property(background-color);
	@include transition-duration(.5s);

	@include media(medium) {
		&:before {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
			margin-right: -0.25em; /* Adjusts for spacing */
		}
	}

	&.show {
		visibility: visible;
		background-color: rgba(#000,.5);
        overflow-y: scroll;

		& section {
			visibility: visible;
            @include transform(translateY(0%) rotateX(0deg));
			opacity: 1;
		}
	}

	section {
		z-index: 2000;
		visibility: hidden;
		max-width: $modal-width;

		@include transform(translateY(100%) rotateX(90deg));
		@include transform-style(preserve-3d);
		@include transform-origin(0 100%);
		@include transition(all 0.3s ease-out);

		position: relative;
		min-height: 100%;
		padding-bottom: 59px;

		text-align: left;
		display: inline-block;
		vertical-align: middle;

		// Sets modal shadow
		box-shadow: 1px 1px 5px rgba(0,0,0,.2);
		width: 100%;

		@include media(small) {
			min-height: 0;
			padding-bottom: 0;
		}
		&:hover { cursor: default; }
	}

	article, aside, main, form { background-color: #fff; }
	form, header { padding: $modal-padding $modal-padding*2; }
	header { padding: $modal-padding/2 $modal-padding; }
	form { padding: 0; }
	.breakaway { margin-top: 20px; }

	button, input[type="button"], .button {
          font: 1.25rem "Open Sans", "Helvetica Neue", Helvetica, sans-serif;

		&.webstore-modal-close {
			@include media(small) {
				display: none;
			}

			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;

			display: block;

			background-color: $default-background-color;
			color: #999;
			font: .875rem 'Open Sans', 'Helvetica Neue', sans-serif;
			text-transform: uppercase;

			&:hover {
				background-color: $default-background-color;
				color: #666;
			}
			&:focus { outline: none; }
		}
	}

    .twocolumn {
      @extend %clearfix;
      margin: 0;

      .column { @extend %clearfix; }

      @include media(small) {
        .column {
          float: left;
          width: 50%;
          padding: 0;
        }
      }
      .content {
        padding: 10px 20px 0;
      }
    }

  h1 {
	color: #777;
	font-weight: 600;
	text-transform: uppercase;
	font: 1rem $webstore-modal-header-font-family;
	font-weight: $webstore-modal-header-font-weight;
	margin: .25rem 0;

    .cancel {
      position: absolute;
      right: 20px;
      top: 16px;
      font-size: .75rem;
      color: #777;
      text-transform: none;
      border-bottom: 1px solid #ccc;
    }
    small {
      float: right;
      color: #aaa;

    }
  }

	h2 {
		font-size: 1.5rem;
		margin: .5em 0 1em;
		color: #555;
	}
	h4 {
		text-transform: uppercase;
		margin: 0 0 .75em;
		font-weight: 400;
		color: #888;
		font-size: 1rem;
	}

	header {
		background-color: $default-background-color;
		border-bottom: 1px solid #ccc;
	}

	.invisible { visibility: hidden; }

	footer.submit {
		padding: 0;
		background-color: $default-background-color;
		color: #999;
		overflow: hidden;

		input[type="submit"] {
			@include transition-property(background-color);
			@include transition-duration(.3s);

			font: 1.25rem $webstore-modal-header-font-family;
			font-weight: $webstore-modal-header-font-weight;

			padding: $modal-padding;
			background: $calltoaction-color;
			width: 100%;
			border: none;
			color: #fff;
			float: left;

			&:hover {
				background-color: darken($calltoaction-color,10%);
			}
		}
	}

	.hint, .info {
		p {
			margin: 0;
			padding: 12px $modal-padding 11px;
			color: #666;
			font-size:.875rem;
		}
	}

	.hint p { margin-right: 80px; }

	label {
		margin: 0 0 2px;
		display: block;
		color: #666;
	}

	input {
		padding: 8px;
        background-color:transparent;
        @include border-radius(0);
	}
}

.webstore-modal-narrow {
	@include media(small) {
		&:before {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
			margin-right: -0.25em; /* Adjusts for spacing */
		}
	}
	section {
		max-width: $modal-width-narrow;
	}
}

//webstore Montreal override
.webstore-modal.show {
  visibility: visible;
  text-align: center;
  -webkit-font-smoothing: initial;
  font-smoothing: initial;
  display: inline-block;

}
//MO
.estimator-zip-error{
  float:left;
  color: #a44039;
  margin: 0;
  font-size: 0.75rem;
  padding: 3px 0 6px;
  text-align: left;
  p{
    margin: 0;
  }
}

