::-webkit-input-placeholder { color: #aaa !important; }
:-moz-placeholder { /* Firefox 18- */ color: #aaa !important; }
::-moz-placeholder { /* Firefox 19+ */ color: #aaa !important ; }
:-ms-input-placeholder { color: #aaa !important; }

textarea,
input[type="text"],
input[type="password"],
input[type="number"],
select{
  &:focus{
    outline: none;
    box-shadow: $input-default-inset-shadow;
  }
}

//textarea:focus,
//input[type="text"]:focus,
//input[type="password"]:focus,
//input[type="number"]:focus {
//  border-color: rgba(82, 168, 236, 0.8);
//  outline: 0;
//  outline: thin dotted \9;
//  /* IE6-9 */
//  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
//  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
//  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
//}

//remove "clear field" X buttons IE
::-ms-clear {
   display: none;
}