.webstore-overlay-cart {

	display:block;
	overflow-y:scroll;

	.webstore-estimator-form,.shipping-postal-entry {
		background: none;
		display:none;
	}
	.shipping-postal-entry {
		margin-top: 16px;
	}

	.shipping-city-state-link{
		font-size:11px;
	}
	.lines-container, .totals, .submit {

		@media(width:640px) {
			margin: 0;
		}
	}

	@media(min-width:640px) {
		// Push delete buttons into margin
		.lines { margin-right: -15px; }
	}

	header {
		position: relative;

		a.button.edit, a.button.edit:focus {
			@media(min-width:640px) { display: none; }
			top: 9px;
			right: 8px;
			font-weight: bold;
			border-color: #ccc;
			text-decoration: none;
			background: none;
			font-size: .8375rem;
			color: #aaa;

			&:hover {
				border-color: $calltoaction-color;
				color: $calltoaction-color;
				background: none;
			}
		}
	}
	.cart-footer {
		clear: both;
		@extend %clearfix;

		.pricechange {
			display: none;
			font-size: 0.75rem;
			float: right;
			width: 18rem;
			color: #666;
			background-color: #ffc;
			padding: 12px;
			margin-right: 15px;
			border-bottom: 1px solid #ccc;

			@media(max-width: 640px)
			{
				width: 100%;
				float: none;
			}
		}
	}

	table {
		border-collapse: collapse;

		td, th {
			text-align: left;
			vertical-align: middle;
			padding: 0;
		}

		&.lines {
			a { color: #555; }

			tr td:first-child, tr th:first-child {
				padding-left: 8px;
				@media(min-width:640px) {
					padding-left: 0;
				}
			}
			tr:last-child {
				td {
					border-bottom: 1px solid #ccc;
					&:last-child { border-bottom-color: #fff; }
				}
			}

			td { border-bottom: 1px solid #eee; }
		}

		a {
			font-weight: bold;
			border-bottom: 1px solid #bbb;
		}

		td.image {
			width: 0;
			@media(min-width:640px) { width: 62px; }
			img {
				display: none;
				vertical-align: middle;
				width: 56px;
				margin-right: -62px;
				padding: 6px 6px 6px 0;

				@media(min-width:640px) { display: block; }
			}
		}

		td.description {
			height: 62px;
			padding-right:5px;

			strong, img { float: left; }
			strong {
				line-height: 1.4;

				@media(min-width:640px) {
					font-size: 1.125rem;
				}
			}
			img {
				display: none;
				vertical-align: middle;
				width: 56px;
				padding: 6px 6px 6px 0;

				@media(min-width:640px) { display: block; }
			}
		}

		.price {
			text-align: right;

			strike {
				font-size: .75rem;
				color: #ccc;
				text-align: -1000em;
				overflow: hidden;
				display: block;
				line-height: 1;
				height: 12px;
				margin-top: -12px;

				&:after {
					color: #888;
					content: attr(data-text);
				}
			}
		}

		.quantity {
			text-align: center;
			width: 3rem;
			@media(min-width:640px) { width: 7rem; }
		}

		.subtotal {
			width: 5rem;
			padding-right: 12px;
			padding-left: 5px;
		}

		@include media(mobile) {
			&.edit {
				td.quantity, th.quantity { display: none; }
				td.remove, th.remove {
					display: table-cell;
					width: 40px;

					a {
						color: #fff;
						border-color: $red;
						background-color: $red;

						&:hover {
							border-color: darken($red,10%);
							background-color: darken($red,10%);
						}
					}
				}
				th.remove { border-bottom: 1px solid #ccc; }
				//MO removing this is breaking the cart when edited on mobile and then screen is resized
				//tr:last-child td:last-child { border-bottom: 1px solid #ccc; }
			}
		}

		.price, .remove {
			display: none;
		}
		@media(min-width:640px) {
			.price, .remove { display: table-cell; }
			.price { width: 6rem; }
		}
	}

	tr {
		opacity: 1;
		@include transition-property(opacity);
		@include transition-duration(.5s);


		&.delete {
			opacity: 0;
		}
	}

	table.lines thead {
		th,a {
			border-bottom: 1px solid #ccc;
			text-transform: uppercase;
			color: #999;
			font-size: .875rem;
			padding-bottom: 3px;
			font-weight: bold;
		}
	}

	.subtotal, #PromoCodeStr { text-align: right; }

	table.lines {
		th.remove, td.remove {
			width: 30px;
			border-bottom-color: #fff;

			a {
				text-decoration: none;
				display: block;
				border: 2px solid #eee;
				color: #ccc;
				background-color: #fff;
				@include border-radius(20px);
				height: 28px;
				width: 28px;
				line-height: 22px;
				padding-left: 5px;
				font-size: 25px;
				font-weight: bold;
				margin: 0;

				@include transition-property(border-color, background-color,color);
				@include transition-duration(.3s);

				&:hover {
					color: #fff;
					border-color: $red;
					background-color: $red;
				}
			}
		}

	}

	input[type="number"] {
		width: 3rem;
		//webstore montreal override
		height:2rem;
		text-align: center;
		padding: 2px 4px;

		&::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
		//MO remove spinner in mozilla number inputs
		-moz-appearance:textfield;

	}

	.submit button{
		&.continue {
			border-bottom: 1px solid #ddd;
		}
	}
	.cart-footer button, .cart-footer .button {
		@include media(small) {
			width: auto;
		}

		&.checkout, &.continue { float: right; }
		&.checkout {
			margin: 0 0 0 1em;
			@media(min-width:640px) {
				width: 18rem;
			}
		}

		&.continue {
			display:none;
			color: #999;
			background: none;
			@include media(small) {
				display: block;
			}

			@media(min-width:640px) {
				margin: 20px;
				padding: 0 0 2px;
			}

			@include transition-property(border, background-color,color);
			@include transition-duration(.3s);

			&:hover {
				color: $calltoaction-color;
				border-color: lighten($calltoaction-color, 20%);
			}
		}
	}

	.submit {
		padding: 0;
		clear: both;
		overflow: hidden;

		@media(min-width:640px) { margin: 0 15px 0 0; }
	}

	.webstore-estimator {
		&.recalculate {
			td {
				visibility: hidden;
				color: #f8f8f8;

				&:after { visibility: visible; }
			}
			td.csspinner:after {
				top: 27px;
				left: 45px;
			}
		}

		form {
			margin-top: 6px;
			display: block;
		}
		input[type="button"], button {
			float: left;

			&:focus {
				outline: none;
				box-shadow: inset 1px 1px 2px rgba(0,0,0,.1);
				border: 1px solid #bbb;
			}
		}
		input {
			border: $input-border;
			padding: 9px 8px;
			&:focus{
				padding: 9px 8px;
			}
		}

		select.webstore-estimator-country-form {
			margin: 8px 0 0;
		}

		button {
			padding-left: 8px;
			padding-right: 8px;
		}

		a.webstore-estimator-country {
			float: right;
			color: #999;
			text-decoration: none;
			border-bottom: 1px dotted #ccc;
			font-size: .75rem;
			display: inline-block;
			padding: 2px 0 0;
			font-weight: normal;
		}
	}

	.webstore-promo-line {
		small { text-transform: uppercase; }
	}

	.totals {
		min-height: 135px;
		background-color: #f8f8f8;
		width: auto;
		margin: 0 15px 0 0;
		width: 100%;

		@media(min-width:640px) {
			float: right;
			width: 18rem;
		}

		tr:first-child {
			th, td {
				padding-top: 8px;
			}
		}

		small a {
			color: #999;
			border-bottom: 1px dotted #ccc;
			text-decoration: none;
		}

		td, th {
			color: #888;
			padding: 4px 8px;

			@media(min-width:640px){
				padding: 4px 12px;
			}
		}
		th {
			text-align: left;
		}
		td {
			@include transition(color 1s)
		}

		.active a {
			text-decoration: none;
			color: #888;
		}

		.total {
			font-weight: bold;

			td, th {
				padding: 4px 8px 16px;
				color: #444;
				font-size: 1.25rem;

				@media(min-width:640px) {
					padding-right: 12px;
					padding-left: 12px;
				}
			}
		}
	}
}


//MO
.hide-me {
	display: none; visibility: hidden;
}

@media (max-width: 640px){
	.webstore-overlay-cart table.edit{
		th.remove, tr:last-child td:last-child {
			border-bottom: 1px solid #ccc;
		}
		td.remove a {
			color: #fff;
			border-color: #a44039;
			background-color: #a44039;
		}
	}
}
//MO override against bootstrap background
.editcartmodal {
	@include media(medium) {
		&:before {
			height:0;
		}
	}
}
