.webstore-sidebar-summary {

	@include flexbox();
	@include flow(column);
	@include justify-content(space-between);

	h2, h3 {
		color: #666;
		text-transform: uppercase;
	}

	h2 {
		margin: 0 0 .25em;
		font-size: 1rem;
	}
	h3 {
		font-size: .875rem;
		margin: 0 0 .5em;
	}

	a {
		text-decoration: none;
		border-bottom: 1px dotted #ccc;
		padding-bottom: 1px;

		&:hover {
			border-bottom: 1px solid $blue;
		}
	}


	table {
		margin: 0;
		color: #888;

		td, th {
			font-size: .8375rem;
			padding: .5em 0;
		}
		td { text-align: right; }

		tbody {
			th {
				font-weight: normal;
				//MO
				text-align: left;
			}

			td, th {
				border-bottom: 1px solid #eee;
			}
		}

		tfoot {
			td, th {
				color: #333;
				font-weight: bold;
				text-transform: uppercase;
			}
			//MO
			th {
				text-align: left;
			}
		}
	}

	.summary {
		max-width: 100%;  //MO fix for IE10 order summary.
		padding: 30px 15px 15px;
	}

	.pricechange {
		width: 239px;
		font-size: 0.8375rem;
		color: #666;
		background-color: #ffc;
		padding: 15px;
		margin: -30px 0px 10px -15px;
		border-bottom: 1px solid #ccc;

		@media(max-width: 640px)
		{
			width: 100%;
			margin-left: 0px;
		}
	}

	.contact {
		padding: 15px 15px 20px;

		p {
			font-size: .8375rem;
			margin: 0;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		h3 {
			text-transform: none;
			margin: 0 0 .125em;
		}
	}

	.account {
		margin: 0 0 0;
		background-color: #f8f8f8;
		border-top: 1px solid #eee;
		padding: 15px;

		@include align-self(flex-end);

		p {
			margin: 0 0 .75em;
			font-size: .875rem;
			line-height: 1.4;

			&.hint {
				margin: 0;
				font-size: .8375em;
				color: #aaa;
			}
		}
	}
}
