.webstore-checkout {

  //MO
  input[type] { margin-bottom: 0;}

  *, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }

  ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  p {
    font-size: .8375rem;
    color: #777;
    line-height: 1.5;
  }

  footer.submit {
    @extend %clearfix;
    margin-bottom: 15px;
  }

  //MO
  input[type="submit"]:focus{
    &#Payment{
      height:64px;
      line-height: normal;
      font-size: 1.125rem;
      padding: 20px 0;
    }
  }

  input[type="submit"],
  button,
  .button {
    width: 100%;
    font-size: 1.125rem;
    padding: 20px 0;
    border: none;
    &#login-button, &#login-button:focus,
    &#guest-button, &#guest-button:focus{
      height: 64px;
      font-size: 1.125rem;
    }

    @include transition-property(border,background);
    @include transition-duration(.5s);

    &.small {
      width: auto;
      font-size: .8375rem;
      padding: 9px; //MO
    }
  }

  .notice {
    padding: 15px 30px;
    margin: 0 -30px 1em;
    background-color: #ffc;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

    p { margin: 0; }

    strong { color: #333; }
  }


  .choices {
    overflow: hidden;

    button,
    .button {
      width: 100%;
      font-size: .9375rem;
      float: left;
      background: #eee;
      border: 1px solid #ccc;
      color: #777;
      margin-top: 6px;
      padding: 12px 0;
      //override light.css
      height: 46px;

      @include media(verysmall) {
        width: 50%;
        &:last-child {
          border-left: none;
        }
      }

      &:hover {
        font-weight: bold;
        border-color: $calltoaction-color;
        background: $calltoaction-color;
        color: #fff;
      }
    }
  }
}

<<<<<<< HEAD
=======

@import "../mixins/box-shadow";

>>>>>>> refs/heads/WS-3687-new-inputs-rebase
@import 'address_blocks';
@import 'checkout_sidebar';
@import 'checkout_forms';
@import 'checkout_begin';
@import 'checkout_shipping';
@import 'checkout_payment';
@import 'checkout_confirm';
@import 'checkout_thankyou';


select[name="city_state"] { max-width: 12em; }


.webstore-checkout footer.submit-small {
  height: 65px;

  input[type="submit"],
  .button {
    font-size: .9375rem;
    padding: 15px 0;
  }

  //MO
  p { margin: 1rem 0; }
}

p.tip {
  margin: .25em 0 1.25em;
  font-size: .8375rem;
  color: #aaa;
}

.or-block {
  border-top: 1px solid #ccc;
  margin-top: 1rem;
  height: .5rem;

  &:before {
    text-align: center;
    content: 'OR';
    color: #888;
    display: block;
    background-color: #fff;
    margin: -.5rem auto 0;
    font-size: .875rem;
    width: 2.5rem;
    height: 1rem;
    line-height: 1;
  }
}

.modal-conditional-block {
  overflow: hidden;
  height: 0;
  opacity: 0;
  @include transition(opacity .6s);

  &.active {
    height: auto;
    opacity: 1;
    overflow: visible;
  }

}


.note {
  background-color: #ffc;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 15px 30px;
  margin: 0 -30px .5em;

  h5 {
    text-transform: uppercase;
    margin: 0 0 .25em;
  }

  p {
    margin: 0;
  }
}

.button-paragraph {
  margin-left: 1em;

  button {
    display: inline-block;
    float: none;
    margin: 0 .5em;
  }
}

#checkout section > header {
  @include media(medium) {
    padding: 0;
    a.exit{
      margin-right: 0!important;
    }
  }
}
