#shipping {
  p.introduction {
    margin: -.5rem 0 1.5rem;
    font-size: .9375rem;
  }

  table.shipping-options {
    margin: 0;
    border: 1px solid #ccc;
    display: table;

    td, th {
      font-size: .875rem;
      padding: .75em;
    }

    thead {
      th {
        color: #666;
        font-weight: normal;
        font-size: .8375rem;
        background-color: $default-background-color;
        border-bottom: 1px solid #ccc;
      }
    }

    tbody {
      td, th {
        color: #999;
        border-bottom: 1px solid #eee;
        padding: 1em .75em;
      }
      th, label{
        color: #555;
        font-size: .9375rem;
        font-weight: bold;
        //override light.css label
        text-transform: none;


        input { font-size: 1rem; }
      }

    }

    label {
      input { margin-right: 8px; }
      &:hover { cursor: pointer; }
    }

  }

  label.checkbox {
    text-align: left;
    font-size: 1rem;
    margin-bottom: 1rem;

    input.residential-toggle {
      margin: 0.2rem 0.5rem 0 0;
    }
  }
}

.shipping-instore {
  label.checkbox {
    text-align: left;
    font-weight: bold;
    font-size: 1rem;

    &:hover { cursor: pointer; }

    p {
      font-weight: normal;
      font-size: .8375rem;
      margin: .125em 0 .75em 24px;
    }
  }

  .shipping-instore-details {
    @include clearfix();
    margin: .25em 0 0 24px;

    p.contact-info {
      float: left;
      width: 100%;
      margin: 0 0 1.5em;
      @include media(verysmall) {
        width: 50%;
      }
    }
  }

  h4 {
    margin: 0 0 .25em;
    font-size: .8375rem;
    color: #333;
    text-transform: uppercase;
  }
}

