body.overlay {
  background-color: #eee;
}

.editcartmodal{
   @include media(medium) {
	 &:before {
	   content: '';
	   display: inline-block;
	   //breaking on certain browser widths
	   height: 5%;
	   vertical-align: middle;
	   margin-right: -0.25em; /* Adjusts for spacing */
	 }
   }
 }
.webstore-modal-cart-confirm{
  @include media(medium) {
	&:before {
	  content: '';
	  display: inline-block;
	  //breaking on certain browser widths
	  height: 85%;
	  vertical-align: middle;
	  margin-right: -0.25em; /* Adjusts for spacing */
	}
  }
}
.webstore-overlay {
  height: 100%;
  position: absolute;
  padding: 0;
  z-index: 2;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: $webstore-modal-font;

  .section-inner {
	background-color: #fff;
	padding: 15px 20px 20px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;

	@media(min-width:640px) {
	  padding: 15px 30px 30px;
	  border: 1px solid #ccc;
	}
  }

  .section-inner.jumper {
	text-align: center;
	margin-top: 50px;
  }

  section {
	box-shadow: none;
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	max-width: 840px;
	margin: 0 auto;
	text-align: left;

	& > header {
	  padding: 0 10px;
	  overflow: hidden;
	  position: relative;

	  @include media(small) {
		padding: 0 30px;
		border-bottom: none;
		button.exit, a.exit{
		  margin-right: 30px;
		}
	  }

	  @include media(cartwidth) {
		padding: 0;
		button.exit, a.exit{
		  margin-right: 0;
		}
	  }

	  h1, .exit {
		margin: .75rem 0;
		display: inline-block;
		float: left;
		line-height: 1.5rem;
	  }

	  h1 {
		font-size: 1.125rem;
		width: 50%;
		font-weight: bold;

		a {
		  text-decoration: none;
		  color: #555;
		}

		img + span { display: none; }

		img {
		  max-height: 80px;
		  max-width: 100%;
		}
	  }

	  .exit {
		color: #777;
		//MO
		padding: 0;
		background:none;
		border-bottom: 1px dotted #ccc;
		text-align: right;
		font-size: .8375rem;
		text-decoration: none;
		display: none;
		position: absolute;
		right: 0;
		bottom: 0;

		&:hover { border-bottom: 1px solid #777; }

		@media(min-width:640px) {
		  display: block;
		  width: auto;
		}
	  }

	  .logo-placement{
		outline: none;
		img{
		  outline: none;
		}
	  }
	}

	footer {
	  padding: 0;

	  &.submit input{
		float: none;
	  }

	  img { margin: 0 3px 0 0; }

	  &.submit input{ float:none; }
	  p {
		margin: 3rem 0 1rem;
		text-align: center;
		font-size: 12px;
		line-height: 16px;
		color: #999;
	  }
	  strong {
		color: #777;
		font-size: 13px;
	  }
	  a { color: #999; }
	}
  }

  h1 {
	font-size: 1.35rem;
	margin: 0 0 .75em;
	//MO
	font-weight: bold;

	@include media(small) {
	  margin: .5em 0 .75em;
	  font-size: 1.75rem;
	}
  }

  &.show { background-color: #fff; }

  header.webstore-brand {
	border-bottom: 1px solid #ccc;
	background: #eee;
	padding: 10px;

	@include media(small) { padding: 10px 30px; }

	h3 {
	  font: normal 1rem $webstore-modal-header-font-family;
	  font-weight: $webstore-modal-header-font-weight;
	  text-transform: uppercase;
	  color: #666;
	  text-align: left;
	  margin: 0 auto;
	  max-width: 1000px;

	}
  }

  header {
	padding: none;
	background: none;
	padding: 0 8px;
	border: none;

	@include media(small) {
	  padding-right: 30px;
	  padding-left: 30px;
	}

	h1 {
	  font: normal 2.25rem $webstore-modal-header-font-family;
	  font-weight: $webstore-modal-header-font-weight;
	  margin: .5em 0 .35em;
	  text-transform: none;
	  color: #555;
	}
  }

  .field-container {
	label.placeheld {
	  font-size: .8375rem;
	}
  }

  footer button.continue, footer button.continue:focus{
	display: block;
	background: none;
	border: 1px solid #999;
	color: #999;
	font-size: 1.125rem;
	margin-botom:0;
	@include transition-property(border);
	@include transition-duration(0.3s);
	margin-top: 25px;
	margin-bottom: 30px;
  }
  section>footer{
	padding: 15px 20px 20px!important;
  }
  @include media(small){
	footer button.continue{
	  display:none;
	}

  }
}

.webstore-overlay-narrow {
  section { max-width: 480px; }
}
.webstore-overlay-aside {
  $section-sidebar-width: 240px;
  $section-content-width: 480px;

  @include media(small) {
	section { max-width: $section-sidebar-width + $section-content-width; }
  }

  .section-inner {
	padding: 0;
	margin-bottom: 30px;
	@include clearfix();

	@include media(small) {

	  @include flexbox();
	  @include direction(row);

	  .section-content, .section-sidebar {
		-webkit-flex: 1 1 auto;
		flex: 1 1 auto;
	  }
	}

	.section-content {
	  @extend %clearfix;
	  padding: 15px;

	  @include media(small) {
		width: $section-content-width;
		padding-left: 30px;
		padding-right: 30px;
		&.full {
		  width: auto;
		}
	  }

	}
	.section-sidebar {
	  background: #f8f8f8;

	  @include media(small) {
		border-top: none;
		background: none;
		width: $section-sidebar-width - 1px;
		padding: 0;
		margin-left: -1px;
		border-left: 1px solid #ccc;
	  }
	}
  }
}

@media(max-width: 640px){
  .mobile-hide{
	display:none;
  }
}




