.promo {
  min-width: 16rem;
  position: relative;

  @media(min-width:640px) {
	float: left;
	margin: 2rem 0 0;
  }

  input, input[type="text"]{
	font-size: .875rem;
	width: 100%;
	padding: 10px;
	border: none;
	border-bottom: $input-border;
	box-shadow: $input-default-inset-shadow;
	&:focus{
	  box-shadow:$input-focus-inset-shadow;
	}

	padding-right: 64px;

	@media (min-width: 640px) {
	   border: $input-border;
	}
  }

  button.inset {
	 right: 8px;
	 top: 7px;
	 opacity: 1;
	 @include transition(opacity .3s);

	 @include media(small) {
		opacity: 0;
	 }

	 &:hover, &:active {
		color: #fff;
		border-color: $blue;
		background-color: $calltoaction-color;
	 }
  }

  .description {
	display: none;

	padding: 0;
	margin: .25em 0 0;

	color: #aaa;
	font-size: .75rem;
	@media(min-width:640px) { display: block; }

  }

  &:hover button { opacity: 1; }
}

//MO
//add to cart view promo code
#addcart {
  .promo{
	input[type="text"]{
	  border-top: $input-border;
	  width:100%;
	  padding-right:90px;
	  padding-left:20px;
	  height:46px;
	}
	button.inset {
	  right:20px;
	  top:9.5px;
	}
  }
}

#confirm, .editcartmodal{
  .promo{
	//MO not working for order_summary
	width:100%;
	@media (min-width: 640px) {
	  width: 256px;
	}
  }

}

