

/* Note to web designers:
this layout is designed with the Skeleton grid system. You should not hard-code point sizes for fonts,
you should use em or percentages so it degrades gracefully on smaller screens. Use
http://pxtoem.com/ for conversion. See base.css for base point sizes used. */

h1, h2, h3, h4, h5, h6 {
    color: #181818;
    font-family: "Proxima Nova", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
}
#headerimage { padding-bottom: 20px;}
#menubar { margin-bottom: 10px; height: 47px; border-bottom: 1px dotted #aaaaaa; }
#viewport { clear: both; }

/***** Navigation *****/
#nav_products { font-weight: 500; height: 47px; text-decoration: none; z-index: 2000; border-bottom: 0px; text-align: left; cursor: pointer;}
#nav_products a { display: block; margin-right: 3px; padding: 0 0 0 0 ; text-decoration: none;  }
#nav_products ul { border: none; line-height: 1; list-style: none; list-style-type: none; margin: 5px 0 0 0px; }
#nav_products ul a { color: white; border-bottom: 1px dotted #cccccc; }
#nav_products li { float: left; width: 10em; height: 29px;  }
#nav_products li ul { left: -999em; position: absolute; width: 10em; height: 29px; }
#nav_products li ul ul { margin: -33px 0 0 180px; }
#nav_products ul li ul li a { background: #2c2c2c; font-size: 1em; font-weight: 700; padding: 8px 10px; width: 160px; border-bottom: 1px dotted #cccccc; }
#nav_products ul li ul li a:hover { background: #2c2c2c; border-bottom: 1px dotted #cccccc; }
#nav_products li:hover ul ul, #nav_products li:hover ul ul ul, #nav_products li.sfhover ul ul, #nav_products li.sfhover ul ul ul { left: -999em; }
#nav_products li:hover ul, #nav_products li li:hover ul, #nav_products li li li:hover ul, #nav_products li.sfhover ul, #nav_products li li.sfhover ul, #nav_products li li li.sfhover ul, #nav_products li:hover ul, #nav_products li:hover ul, #nav_products li.sfhover ul, #nav_products li:hover ul, #nav_products li li:hover ul, #nav_products li.sfhover ul, #nav_products li li.sfhover ul {     left: auto; }
#nav_products .arrow { margin: 1px 0 0 10px; }
.menutab {  font-size: 1.1em; font-weight: 500; text-align: center; text-transform: uppercase; }
.innertab a { text-decoration: none;}
.menuheight { height: 43px; }
.menuunderline { }
.menuunderline:hover { border-bottom: 5px solid #000000;}

#gridheader h1 { line-height: 40px; margin-top: 12px; margin-bottom: 3px; }
.subcategories { margin-left: 10px;margin-bottom: 15px;}

/***** Product Grid *****/
.product_cell { border: 1px #e4e0d8 solid; min-height: 300px; max-height: 300px; vertical-align: baseline; cursor: pointer;}
.product_cell_graphic { height: 225px; margin: auto;}
.product_cell img { max-width: 100%; height: auto; display: block; margin-left: auto; margin-right: auto; margin-top: 10px;}
.product_cell_label  { clear: both; margin: auto;  padding-top: 0; color: #ffffff; background: #262626; text-transform:uppercase; height: 65px; vertical-align: bottom;  text-align: center;}
.product_cell_label .product_cell_price {padding: 0px;}
.product_cell_label .product_cell_price_slash { text-decoration: line-through; color: #7f7f7f; padding-right: 10px; }
.product_cell_label .product_cell_price_slash:empty { display: none; }
.product_cell h2 { font-size: 0.8em; color: #ffffff; margin-bottom: 0px; padding-top: 8px; line-height: 1.4em;}
.product_cell_label a { font-size: 1.273em; text-decoration: none; color: #9c9c9c; font-weight: 600; }



#breadcrumbs { height: 29px; margin: 15px auto; overflow: hidden; text-align: left; width: 765px; }
#breadcrumbs ul { display: block; float: left; height: 31px; margin: 0; }
#breadcrumbs li { display: block; float: left; height: 28px; list-style: none; margin: -23px 0 0; padding: 31px 30px 16px 15px; }
#breadcrumbs img, #pagination img { margin: -4px 2px 0 3px; }



.paginator { font-weight: 700; text-align: center; text-transform:uppercase; margin-left: auto; margin-right: auto;}
#pagination { display: block;  }
#pagination a {text-decoration: none; color: #888888; }
#pagination .current {color: inherit; }
#pagination li { display: block; float: left; list-style: none; margin: 0; overflow: hidden; padding: 8px 5px 8px 5px; color: #c7c7c7; }
#pagination li .active { padding: 4px 7px; }
#pagination .table { display: table; margin: 0 auto; }


#searchentry { text-transform: uppercase; border-bottom: 4px solid black; margin-bottom: 5px; width: 268px; clear:both; height: 28px; }
#searchentry .search_left img { padding-top: 3px; padding-right:5px; float: left; }
#searchentry .search_left .spyglass { width: 16px; height:16px; }
#searchentry .search_box  { float: left; }
#searchentry .search_box input { font-size: 1.0em; color: #aaaaaa; width: 225px; border: 0px; border-color: transparent; border-collapse: collapse; margin-bottom: 4px; -webkit-appearance:textfield; }


#searchentry .searchTextBox .searched { color: #000000; }
#searchentry .search_advanced { clear: both; }
#searchentry .search_advanced img { padding-left: 8px; padding-top: 6px;}

/***** Mini Cart (right side shopping cart) *****/
#shoppingcart { text-transform: uppercase; padding-top: 10px; padding-left: 4px; padding-right: 4px; width: 268px; clear:both;}
#shoppingcarttop .title { font-size: 1.429em; height: auto; min-height: 220px; width: 100%; z-index: 500; padding-top: 10px; padding-bottom: 10px; }
#shoppingcarttop .carticon { float: right; }
#shoppingcarttop .minicart_itemlist { margin-top: 15px; margin-bottom: 5px; }
#shoppingcarttop .minicart_item { padding-top: 15px; padding-bottom: 25px; border-top: 1px dotted #bbbbbb;  height: 30px; line-height: 1em; clear: both;}
#shoppingcarttop .minicart_image {float:left;  height: 36px; width: 36px; margin:auto; 6px; padding-right: 6px;}
#shoppingcarttop .minicart_item img {max-width: 100%; height: auto; display: block; margin-left: auto; margin-right: auto; }

#shoppingcarttop .minicart_desc { float:left; width: 130px; font-size: 0.8em; font-weight: 700;}
#shoppingcarttop .minicart_price { float:left; width: 80px; font-size: 1.1em; text-align: right; font-weight: 500;}
#shoppingcarttop .minicart_qty { clear: left; font-size: 0.9em; font-weight: 400;}
#shoppingcarttop .minicart_item a { text-decoration: none; margin-top: 5px;}
#shoppingcarttop .emptymessage { height: 113px; width: 128px; margin: 50px auto 0 auto; padding: 45px 20px 0 12px; text-align: center; color: #000; }

#shoppingcartbottom { border-top: 1px dotted #bbbbbb;  height: 30px; line-height: 1em; clear: both;}
#shoppingcartbottom .subtotal_label  { padding-top: 20px; padding-bottom: 20px; float:left; width: 172px; font-size: 0.95em; text-align: right; font-weight: 500;}
#shoppingcartbottom .subtotal_price { padding-top: 20px; padding-bottom: 20px; float:left; width: 80px; font-size: 1.1em; text-align: right; font-weight: 500;}

#shoppingcartcheckout { width: 268px; clear:both; background-color: #262626; color: white; height: 24px; padding-top: 12px; padding-bottom: 10px; text-align: center;margin-bottom: 10px; cursor: pointer;}
#shoppingcartcheckout .checkoutlink {  margin: auto;  text-align: center; }
#shoppingcartcheckout .checkoutlink a { margin-top: 20px; text-decoration: none; color: white; }
#shoppingcartcheckout .checkoutarrow { margin-right: 15px; position: relative; text-align: right; top: -16px; }

#shoppingcarteditcart { width: 268px; clear:both; background-color: #7f7f7f; color: white; height: 24px; padding-top: 12px; padding-bottom: 10px; text-align: center;margin-bottom: 10px; cursor: pointer;}
#shoppingcarteditcart .editlink {  margin: auto;  text-align: center; }
#shoppingcarteditcart .editlink a { margin-top: 20px; text-decoration: none; color: white; }


/***** Sidebar Modules *****/
#sidebar { display: block; float: left; height: auto; margin: 60px 0 10px 0; overflow: hidden; width: 268px; padding-left: 4px; padding-right: 4px; }
#sidebar .clickbar {   margin: 5px 0px 0px 0px; padding: 11px; color: #555555; border: 1px dotted #999999; font-weight: 700; text-transform: uppercase; text-align: center; cursor: pointer;}
#sidebar .containers { border-top: none; font-size: 12px; height: auto; left: -5px; margin: -3px 0 5px; padding: 14px; width: 204px; display: none;}


#footer { clear: both;}
#footer .addresshours { height: 148px; background-color: #e9e9e9; margin: 30px 0 30px 0;}
#footer .bottomtabs { text-transform: uppercase; text-align: center; font-size: 0.9em;  }
#footer .bottomtabs a { text-decoration: none; font-size: 1.1em; font-weight: 400; }
#footer .copyright { text-align: center; text-transform: uppercase; color: #b7b7b7; font-size: 0.8em; }



