<config>
    <viewset>cities</viewset>
    <name>Brooklyn</name>
    <thumbnail>brooklyn.png</thumbnail>
    <version>2.0.0</version>
    <description>Our default template, suitable for any type of business.</description>
    <noupdate>true</noupdate>
    <credit>Designed by LightSpeed</credit>
    <subthemes>
        <subtheme>
            <name>Light</name>
            <css>light</css>
        </subtheme>
        <subtheme>
            <name>Dark</name>
            <css>dark</css>
        </subtheme>
        <subtheme>
            <name>Custom</name>
            <css>custom</css>
        </subtheme>
    </subthemes>
    <defaults>
        <configuration>
            <key_name>CATEGORY_IMAGE_HEIGHT</key_name>
            <key_value>180</key_value>
        </configuration>
        <configuration>
            <key_name>CATEGORY_IMAGE_WIDTH</key_name>
            <key_value>180</key_value>
        </configuration>
        <configuration>
            <key_name>DETAIL_IMAGE_HEIGHT</key_name>
            <key_value>256</key_value>
        </configuration>
        <configuration>
            <key_name>DETAIL_IMAGE_WIDTH</key_name>
            <key_value>256</key_value>
        </configuration>
        <configuration>
            <key_name>LISTING_IMAGE_HEIGHT</key_name>
            <key_value>190</key_value>
        </configuration>
        <configuration>
            <key_name>LISTING_IMAGE_WIDTH</key_name>
            <key_value>180</key_value>
        </configuration>
        <configuration>
            <key_name>MINI_IMAGE_HEIGHT</key_name>
            <key_value>30</key_value>
        </configuration>
        <configuration>
            <key_name>MINI_IMAGE_WIDTH</key_name>
            <key_value>30</key_value>
        </configuration>
        <configuration>
            <key_name>PREVIEW_IMAGE_HEIGHT</key_name>
            <key_value>30</key_value>
        </configuration>
        <configuration>
            <key_name>PREVIEW_IMAGE_WIDTH</key_name>
            <key_value>30</key_value>
        </configuration>
        <configuration>
            <key_name>SLIDER_IMAGE_HEIGHT</key_name>
            <key_value>90</key_value>
        </configuration>
        <configuration>
            <key_name>SLIDER_IMAGE_WIDTH</key_name>
            <key_value>90</key_value>
        </configuration>
        <configuration>
            <key_name>DEFAULT_TEMPLATE_THEME</key_name>
            <key_value>webstore-light</key_value>
        </configuration>
        <configuration>
            <key_name>PRODUCTS_PER_PAGE</key_name>
            <key_value>9</key_value>
        </configuration>
    </defaults>
</config>