#wishlistdisplay .row { padding-top: 20px; }
label[for="CustomerAddress_active"],
label[for="CustomerAddress_makeDefaultBilling"],
label[for="CustomerAddress_makeDefaultShipping"],
label[for="CustomerAddress_residential"] { display: inline; vertical-align: bottom; margin-left: 5px; }
#wishlistdisplay label { width: 100%;  }
#wishlistdisplay select[id="CustomerAddress_state_id"] { min-width: 100px; }
#wishlistdisplay .submitblock { margin-top: 20px; }
#wishlistdisplay input[type="text"] { width: 200px; }
#wishlistdisplay select[id="CustomerAddress_country_id"] { width: 198px; }
#Wishlist_visibility { max-width: 270px; }
#Wishlist_after_purchase { max-width: 350px; }

#login-form {font-family: 'league',"Helvetica Neue",Helvetica,Arial,sans-serif;
    transition: color 0.5s ease 0s; font-size: 1.5em; min-height: 150px;}
#login-form .row {padding-bottom: 20px; }
@media(max-width: 814px) {
    #wishlistdisplay .col-sm-5 { width: 100%; }
    #wishlistdisplay .rememberMe { padding-top: 10px; }
    #wishlistdisplay label { padding-top: 5px; }
}

@media(min-width: 815px) {
    #wishlistdisplay { padding-left: 20px; }
    .rememberMe { display: inline; }
}

