

/* Note to web designers:
this layout is designed with the Twitter Bootstrap layout system.
You should not hard-code point sizes for fonts, you should use em or percentages
so it degrades gracefully on smaller screens. Use http://pxtoem.com/ for conversion.
See base.css for base point sizes used.

We recommend placing customizations in custom.css which overrides elements in this
file, and leaving this file untouched. This file contains no coloring information, that's all in light.css and dark.css which can be
 chosen from Admin Panel->Themes . You can also selectively override anything using custom.css which is loaded last,
 or you can choose custom in Admin Panel->Themes to use that color file exclusively.
*/

/**** Global settings ******/
body { font-family:  "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: normal; }
h1, h2, h3, h4, h5, h6 {
    font-family:  "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
}

*:focus {
    outline: 0;
}

h1 {font-size: 30px;}
b { font-weight: 700; }
i { font-style: italic; }
u { text-decoration: underline;}
input, input:focus { font-family: inherit; font-size: 1.1em; line-height: 1.2em; border: 10px solid; padding: 0px;border-radius: 0px; border: 1px dotted #3B4250;}
select, input[type="text"], input[type="password"], input[type="email"],input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus { font-family: inherit; font-size: 1.1em; line-height: 1.2em; box-shadow:none; padding: 0px; border-radius: 0px; }
input { -webkit-appearance: none;  }
input[type="checkbox"] { width: 20px; height: 20px; border: 0px; -webkit-appearance: checkbox; }
input[type="radio"] { width: 18px; height: 18px; border: 0px; float:left; clear:left; -webkit-appearance: radio; margin-top: 3px; margin-right: 3px;}
legend  { margin-bottom: 4px; border: none; }
.left { text-align: left;}
.center { text-align: center;}
.right { text-align: right;}
select { text-transform: uppercase;height: 40px; -webkit-appearance:listbox;}
a, a:visited { text-decoration: none; }
a:hover {  text-decoration: none;   }
.darkbutton, .darkbutton a {  height: 45px; padding-top: 12px; padding-bottom: 10px; text-align: center; margin-bottom: 10px; cursor: pointer; text-transform: uppercase; }
.lightbutton, .lightbutton a {   height: 45px; padding-top: 12px; padding-bottom: 10px; text-align: center; margin-bottom: 10px; cursor: pointer; text-transform: uppercase; }
.smalldarkbutton {   height: 18px; padding-top: 4px; padding-bottom: 6px; padding-left: 5px; padding-right: 5px; text-align: center;cursor: pointer; float: left; text-transform: uppercase; font-size: 0.9em;}
.smalllightbutton {   height: 18px; padding-top: 4px; padding-bottom: 6px; padding-left: 5px; padding-right: 5px; text-align: center;cursor: pointer; float: left; text-transform: uppercase; font-size: 0.9em;}
.smalldarkbutton a, .smalllightbutton a {  }
.label { text-transform: uppercase; }
.errorMessage  {  text-transform: uppercase; font-size: 0.7em; line-height: 14px; margin: 15px 0;}
.popupwide { width: 450px; }
.popup { width: 350px; }
.popupsmall { width: 300px; }
.spaceafter {  margin-bottom: 10px; }
.remove-bottom { padding-bottom: 0px  !important; margin-bottom: 0px  !important;}
/***** Heady *****/
#headerimage { }
#headerimage img {max-width: 100%;}
#viewport { clear: both; margin-left: -0px; padding-top: 11px;}
#langdrop select { font-size: 0.7em; height: 33px;}


.navbar-collapse {padding-right: 0px; padding-left: 0px; }

.row {
margin-right: 0px;
margin-left: 0px;
}

.col-sm-3 {padding-right: 0;}

.note {margin-left: 25px;}

/***** Login/Logout button *****/
#login {padding-top: 18px;}
#login, #login a { text-decoration: none; text-transform: uppercase; font-size: 14px; font-weight: 600; display: block; text-align: center; margin-left: -15px; height: 22px;}

#login img { margin-right: 10px; vertical-align: middle; height: 27px; }

/***** Language options *****/
.langlinks a { text-decoration: underline; padding-right: 2px; font-size: 0.8em; }

/***** Navigation (Products dropdown) and tabs *****/

#headerArea { height: 95px; padding-top: 5px;}

#topbar {float: right;}
li.mainMenuBtn {list-style-type: none; float: left; width: 19%;}

#menubar { margin: 0px 0 -16px 0px; padding: 20px 0px 20px 0px; }
#menubar .col-sm-8 {padding-left: 0px;}

#menutabs { margin-top: 0px; margin-left: -26px;}
.menutab {  font-size: 1.1em; font-weight: 600; text-align: left;  cursor: pointer; list-style: none; list-style-type: none; padding-left: 0px;}

.innertab a { text-decoration: none;}
.menuheight { height: 48px; }


.products { font-weight: 600;  font-size: 1.1em; padding: 10px; margin-left: -15px; width: 100%; margin-top: 31px;   text-align: center;}
#menutree { font-size: 0.8em; list-style-type: none; margin-left: -15px; width: 90%;}

.shoppingnavigation {   padding-top: 20px; margin-left: -20px;}
.shoppingnavigation a { font-weight: 600; padding-left: 10px; padding-right: 10px; display: block; }
#menutree  a {font-size: 1.3em; padding: 7px 0 7px 20px; display: block; margin-left: -40px;}

#menutree  a:hover {color: #FF434C;}


.mainClm {float: right; padding-top: 40px;}


/***** Products dropdown *****/
#nav_products { font-weight: 600; height: 47px; text-decoration: none; z-index: 2000; border-bottom: 0px; text-align: left; cursor: pointer; margin-left: 9px; margin-top: 3px;}
#nav_products .productstab { height: 45px; margin-top: 2px;}
#nav_products .dropspace { margin-top: 10px; } /* push dropdown menu down from underneath PRODUCTS tab */
/* all this to create dropdown and popout menu effects */
#nav_products a { display: block; margin-right: 3px; padding: 0 0 0 0 ; text-decoration: none;  z-index: 2000;}
#nav_products ul { border: none; line-height: 1; list-style: none; list-style-type: none; margin: 0px 0 0px 0px; padding-bottom: 20px;z-index: 2000;}
#nav_products ul a {  border-bottom: 1px dotted #cccccc; z-index: 2000;}
#nav_products li { float: left; width: 10em; height: 30px;  z-index: 2000; line-height:19px !important; }
#nav_products li ul { left: -999em; position: absolute; width: 10em; height: 29px; z-index: 2000;}
#nav_products li ul ul { margin: -33px 0 0 180px; z-index: 2000;}
#nav_products ul li ul li a { font-size: 1em; font-weight: 700; padding: 8px 10px; width: 160px; border-bottom: 1px dotted #cccccc; z-index: 2000;}
#nav_products ul li ul li a:hover { border-bottom: 1px dotted #cccccc; z-index: 2000;}
#nav_products li:hover ul ul, #nav_products li:hover ul ul ul, #nav_products li.sfhover ul ul, #nav_products li.sfhover ul ul ul { left: -999em; z-index: 2000;}
#nav_products li:hover ul, #nav_products li li:hover ul, #nav_products li li li:hover ul, #nav_products li.sfhover ul, #nav_products li li.sfhover ul, #nav_products li li li.sfhover ul, #nav_products li:hover ul, #nav_products li:hover ul, #nav_products li.sfhover ul, #nav_products li:hover ul, #nav_products li li:hover ul, #nav_products li.sfhover ul, #nav_products li li.sfhover ul {     left: auto; z-index: 2000;}

#nav_products .arrow { margin: 1px 0 0 10px; }
.familylist ul { list-style-type: none; }

/***** Typeahead search *****/
.dropdown-menu .active > a, .dropdown-menu .active > a:hover { color: white; background-color: #3B4250; background-image: linear-gradient(to bottom, #666666, #474747);}
.dropdown-menu strong { color: #bababa; }

/***** Breadcrumbs ******/
.breadcrumbs { margin: 0 0 0 10px; clear:both; border-bottom: 1px dotted #6ACEEB; padding: 0 0 15px;}
.breadcrumbs .homebutton { padding-bottom: 0px; margin: auto; height: 29px; width: 25px; float: left; }
.breadcrumbs img { width: 16px; height: 29px; float: left; margin-top: -5px; margin-right: 3px; }
.breadcrumbs a {  }
.breadcrumbs .crumbtrail { padding-top: 5px; }
#CheckoutBreadcrumbs { margin-top: 40px; }

/***** Product Grid *****/
.col-sm-9 {padding-right: 0px; padding-left: 0px;}

#gridheader { }
#gridheader h1 { line-height: 40px; margin: 15px 0px 20px 5px; }
.subcategories { margin-left: 10px;margin-bottom: 15px;}
.subcategories a { text-decoration: underline; padding-right: 10px;}
.product_cell { min-height: 300px !important; vertical-align: baseline; cursor: pointer; margin-bottom: 0px;padding-left:0px;padding-right:0px; }
.product_cell_graphic { height: 225px; margin: auto;}

.product_cell img { max-width: 100%; height: auto; display: block; margin-left: auto; margin-right: auto; margin-top: 10px; padding-top: 20px;}
.product_cell_label  { clear: both; margin: auto;  padding-top: 0; padding-left: 2px; padding-right: 2px;  height: 65px; vertical-align: bottom;  text-align: center;}
.product_cell_label .product_cell_price_slash { text-decoration: line-through;  padding-right: 10px; }
.product_cell_label .product_cell_price_slash:empty { display: none; }
.product_cell a { font-size: 0.8em;  margin-bottom: 0px; padding-top: 8px; line-height: 1.2em;}
.product_cell_label a { font-size: 1em; text-decoration: none;  font-weight: 600; display: block; padding: 8px 2px 3px 2px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

#custom_content { margin-bottom: 14px;}
#custom_content b { font-weight: 700; }
#custom_content i { font-style: italic; }
#custom_content a { text-decoration: underline; }

/***** Pagination *****/
#paginator {  display: block; font-weight: 700; text-align: center; text-transform:uppercase; margin-left: auto; margin-right: auto;}
#pagination a {text-decoration: none;   border:none; }
#pagination li.page.selected, #pagination li.page.selected a { border:none; }
#pagination li { display: inline-block; list-style: none; margin: 0; overflow: hidden; padding: 8px 5px 8px 5px;  }


/***** Search Box *****/
#searchentry {  height: auto; margin-top: -4px;  }
#searchentry .search_left img { padding-top: 3px; padding-right:5px; float: left; }
#searchentry .search_left .spyglass { width: 16px; height:16px; }
#searchentry .search_box  { float: left; margin: -20px 0 0 0;  }
#searchentry .search_box input {  height: 25px; font-size: 1.0em;   border-collapse: collapse; margin-right: 4px; -webkit-appearance:textfield; text-transform: none; border-radius: 10px;}
#searchentry .searchTextBox .searched {  }
.search_advanced {float: right; margin-right: 20px;}
#searchentry .search_advanced img {float: right; padding: 4px 20px 0 5px; margin: -20px 0 0 5px; }

#advancedsearch #AdvancedSearchForm_intCategory { width: auto;}


/***** Advanced Search Page *****/

#advancedsearch {margin-bottom: 20px;}

#advancedSearchHeader {padding: 5px 0 0 15px;}

#advancedsearch label { float: left; display: block; margin: 20px 0 5px 0;}

#advancedsearch  #btnSubmit {float: right; margin: -38px 45% 0 0;}
#AdvancedSearchForm_cat {text-align: center;  padding: 0 10px; border: 1px dotted #295A7F; width: 185px;}
#advancedsearch .col-sm-9 label {margin-left: 15px;}

/***** Mini Cart (right side shopping cart) *****/
#shoppingcart { text-transform: uppercase; padding-top: 20px;  clear:both; margin-right: 30px; }
#shoppingcart .navigation { text-transform: uppercase; padding-left: 4px; padding-right: 4px;  clear:both;}
#shoppingcarttop .title a { font-size: 0.9em; height: auto; min-height: 220px; width: 100%; z-index: 500; padding-top: 10px; padding-bottom: 10px; }
#shoppingcart .carticon { float: right;  background: url(images/shoppingcartlight.png) no-repeat top right; height: 26px; width: 26px;   }
#shoppingcarttop .minicart_itemlist { margin-top: 15px; margin-bottom: 5px; }
#shoppingcarttop .minicart_item { padding-top: 15px; padding-bottom: 25px; border-top: 1px dotted #bbbbbb;  height: 30px; line-height: 1em; clear: both;}
#shoppingcarttop .minicart_item.hidden { height: 0px;  visibility: hidden; }
#shoppingcarttop .minicart_image {float:left;  height: 36px; width: 36px; margin:auto; padding-right: 6px;}
#shoppingcarttop .minicart_item img {max-width: 100%; height: auto; display: block; margin-left: auto; margin-right: auto; }
#shoppingcarttop .minicart_desc { float:left; font-size: 0.8em; font-weight: 700;}
#shoppingcarttop .minicart_price { float:left; font-size: 1.1em; text-align: right; font-weight: 500;}
#shoppingcarttop .minicart_qty { clear: left; font-size: 0.9em; font-weight: 400;}
#shoppingcarttop .minicart_item a { margin-top: 5px;}
#shoppingcarttop .emptymessage { height: 113px; margin: 0px auto 0 auto; padding: 45px 20px 0 12px; text-align: center;  }
#shoppingcartbottom { min-height: 35px; clear: both;}
#shoppingcartbottom .cart_label  {float: right; }
#shoppingcartbottom .cart_price { float: right; margin-left: 20px; }
#shoppingcartbottom .subtotallabel { font-weight: 600; }
    /* checkout button */
#shoppingcartcheckout {  clear:both;  height: 24px; padding-top: 12px; padding-bottom: 10px; text-align: center; margin-bottom: 10px; cursor: pointer; text-transform: uppercase; }
#shoppingcartcheckout .checkoutlink {  margin: auto;  text-align: center; }
#shoppingcartcheckout .checkoutlink a { margin-top: 20px;  text-decoration: none;}
#shoppingcartcheckout .checkoutarrow { margin-right: 15px; position: relative; text-align: right; top: -17px; }
    /* edit cart button */
#shoppingcarteditcart {  clear:both;  height: 24px; padding-top: 12px; padding-bottom: 10px; text-align: center;margin-bottom: 10px; cursor: pointer;  text-transform: uppercase; }
#shoppingcarteditcart .editlink {  margin: auto;  text-align: center; }
#shoppingcarteditcart .editlink a { margin-top: 20px;  text-decoration: none;}
    /* continue shopping button */
#shoppingcartcontinue {  height: 40px; padding: 10px; margin: 0 auto 10px auto; cursor: pointer;  text-transform: uppercase; 
	width: 80px; }
#shoppingcartcontinue .editlink {  margin: auto;  text-align: center; }
#shoppingcartcontinue .editlink a { margin-top: 20px;  text-decoration: none;}

/**** Generic Cart is used both on checkout and on the Edit Cart screen ****/
#genericcart a { }
#genericcart .row-fluid [class*="span"] { min-height: 23px !important; }
#genericcart .table tbody > tr > td, #genericcart .table thead > tr > th { border: 0; }
#genericcart .cart_header { font-weight: 600; text-transform: uppercase; margin: 20px 0; }
#genericcart .cart_label  { font-size: 0.95em; text-align: right; font-weight: 500;}
#genericcart .cart_price { font-size: 1.1em; font-weight: 500; }
#genericcart .minicart_image {  height: 36px; width: 36px; margin:auto; padding-right: 6px; }
#genericcart .minicart_item img {max-width: 100%; height: 40px; display: block; margin-left: auto; margin-right: auto; overflow: hidden; }
#genericcart .cartdecor { }
#genericcart .centeritem { text-align: center; }

#cartTotalsSpace {margin-top: 20px;}
.cart-header {font-size: 1.3em; text-align: center; margin-bottom: 10px;}
.cartHeaderLeft {font-size: 1.3em; text-align: left; padding-right: 10px;}
.cartItem {margin-bottom: 10px; text-align: center;}
.cart-price {text-align: center;}
.cart-quantity {text-align: center;}
.item-total {text-align: center;}

#genericcart .promoCode { font-size: 0.9em; text-align: right;  }
/* when editing cart */
#genericcart input[type="text"],#genericcart input[type="text"]:focus { font-size: 1.1em; margin-bottom: 7px; border: 3px; text-align: center; padding: 2px; height: 20px;  }


.cart_qty_box { border: 1px dotted #3DC0DC !important;}
.cart_qty_box:focus { height: 20px !important;}




.facebook_wall { margin-top: 30px; border: 1px solid #e7e7e7; padding: 20px; }
.facebook_wall textarea { width: 400px; border: 0px hidden; }
/***** Sidebar Modules *****/
#sidebar { display: block; float: left; height: auto; margin: 60px 0 0px 0; overflow: hidden; }
#sidebar .clickbar { margin: 5px 0px 0px 0px; padding-top: 11px; padding-bottom: 11px;  border: 1px dotted #999999; font-weight: 700; text-transform: uppercase; text-align: center; cursor: pointer;}
#sidebar .containers { border-top: none; font-size: 12px; height: auto; left: -5px; margin: -3px 0 5px; padding: 14px; width: 204px; display: none;}
#sidebar .containers input, #sidebar .containers .row { margin-bottom: 3px;}

/***** Product Details Page *****/
#product_details h1 {  margin: 0 0 30px 0 ; font-size: 2em; text-align: center;}
#product_details h2 { line-height: 20px; padding: 0px 0px 0px 0px; text-transform: uppercase; font-weight: 400; font-size: 0.9em; margin-top: 0px; }
#product_details h3 { line-height: 20px; padding: 0px; text-transform: uppercase;  font-style: italic; font-weight: 300; font-size: 0.9em;}
#product_details .stock { font-size: 0.9em; margin-top: 10px; margin-bottom: 10px;}
#product_details .price { font-size: 1.8em; margin-top: 20px; }
#product_details .price_reg { font-size: 0.8em; }
#product_details .price_slash { text-decoration: line-through; }
#product_details .productheader { margin-bottom: 18px; }
#product_details .description { margin-top: 18px; margin-bottom: 30px;}
#product_details .additionalimages { margin-bottom: 18px; }

#product_details .intQty { text-align: center; padding: 0px; margin: 0px 2px; min-width: 50px; }
#product_details #Product_intQty { width: 50px; border: 0; text-align: center; }
#product_details label[for=Product_intQty]{ margin-top: -20px;}
#product_details .intQty input[type="text"] { padding: 2px; }

.productImage {text-align: center;}
.productImage legend {position: absolute; display: none;}
.productImage img {border: 1px solid #3B4250; }

#product_details .wishlist { padding: 5px 5px 5px 5px;  margin: 0 5px 0 0; text-align: center; cursor: pointer; float: left; height: 50px; width: 100px;}
#product_details .wishlist a {   text-transform: uppercase; font-size: 1em; padding-top: 5px;}


#product_details .addcart { padding: 12px 5px 5px 5px;  margin: 0 5px 0 0; text-align: center; cursor: pointer; float: left; height: 50px; width: 100px;}
#product_details .addcart a { margin-top: 5px;  text-transform: uppercase; font-size: 1em;}


#product_details .previewimage { margin-right: 10px;}

#product_details #SelectSize { float: left; }
#SelectSize, #SelectColor {margin: 0 10px 30px 0; padding: 2px 7px;}


#product_details .title { word-wrap: break-word; }
#pinterest { vertical-align: top; }

#product_details .grid-view table.items tr.odd { }
#product_details .grid-view table.items tr.even { }
#product_details .grid-view .summary { text-align: left; font-weight: 600;}
#product_details .grid-view img { height: 65px; }
#product_details .grid-view td { vertical-align: top; }

#product_details #photos legend { font-size: 0.7em;}
#product_details .thumbs, #product_details .targetarea { margin-left: 0px;margin-bottom: 10px;}
#product_details .targetarea {min-height: 260px;}
#product_details .thumbs img { margin-right: 10px; }

#autoadd { margin-top: 30px; }
#autoadd .items th { background: none; height: 4px; padding:0px; background-color: black; }
#autoadd .summary { font-weight: normal; font-size: 0.7em;}
#autoadd #autoadd_c0 { margin-right: 0px; border-right: 0px; }

.cloudzoom-zoom, .cloudzoom-zoom-inside { background-color: white;}


#productImage legend {font-size: 0.0em;}


#left {width: 50%; float: left; text-align: center; margin-top: 40px;}
#right { width: 50%; float: left; margin-top: 40px;}
.description {padding-left: 5px;}
.description h2 {font-size: 1.3em; padding: 40px 0 0 5px; text-align: left;}
.summary {padding: 20px 0 10px 0;}
#yw1-widget {padding: 40px 0 0 35px; width: 95%; }

/***** Checkout page and Registration Page and Contact Page *****/

.registerHeader {padding-left: 25px;}

input {border: 10px solid #3DC0DC; background-color: #3DC0DC; color: #eee;}
input:hover, input:focus {border: 10px solid #A2C90A; background-color: #A2C90A; color: #eee;}



#checkout .row-fluid { padding-bottom: 10px; }
#checkout label { display: block; margin-bottom: 0px;}
#checkout label, input, button, select, textarea { font-size: 14px; font-weight: normal;line-height: 20px; }
#checkout legend, #contact-form legend, #orderdisplay legend  { margin-bottom: 4px; text-transform: uppercase;  font-size: 1.2em; }


#checkout label, #contact-form label { text-transform: uppercase; font-size: 0.9em; font-weight: normal; margin: 15px 0 3px 15%; }
#checkout .warning, #checkout .errorMessage, #contact-form .warning, #contact-form .errorMessage {  text-transform: uppercase; font-size: 0.8em; line-height: 14px;}
#checkout input[type="text"], #checkout input[type="password"], #checkout input[type="email"], #checkout input[type="select"],#checkout input[type="text"]:focus,#checkout input[type="password"]:focus, #checkout input[type="email"]:focus, #checkout input[type="select"]:focus { font-size: 1.2em; border: 7px solid #E5E5E5; text-transform: none; padding: 2px; margin: 0; width: 70%; margin-left: 15%; }

#contact-form input[type="text"], #contact-form input[type="password"], #contact-form input[type="email"], #contact-form input[type="select"],#contact-form input[type="text"]:focus,#contact-form input[type="password"]:focus, #contact-form input[type="email"]:focus, #contact-form input[type="select"]:focus { font-size: 1.2em; border: 7px solid #E5E5E5; text-transform: none; padding: 2px; margin: 0; width: 70%; margin-left: 0%; }

#contactFormContainer label {margin-left: 15%; }

#contactFormContainer h1 {margin: 20px 0 30px 10px; }
#contactFormContainer .note {margin: 10px 0 20px 0;}

#checkout .red,#contact-form .red, .customer_reg_err_msg {  font-size: 1.1em;text-transform: uppercase; }
#checkout fieldset { border-bottom: 2px dotted #e7e7e7; margin-bottom: 20px; padding: 20px 0; margin-left: 15px;}
#checkout #Payforms fieldset { border-bottom: none; }
  /* tweaks for specific fields. They all have IDs so it makes it easy */
#checkout label[for=CheckoutForm_receiveNewsletter], #checkout label[for=CheckoutForm_billingSameAsShipping],
#checkout label[for=CheckoutForm_acceptTerms],#checkout label[for=CustomerAddress_active] ,
#checkout label[for=CustomerAddress_residential], #checkout label[for=Customer_newsletter_subscribe],
#checkout label[for="CheckoutForm_shippingResidential"], #checkout label[for="CheckoutForm_billingResidential"],
.rememberMe label { display: inline; }

#CheckoutForm_shippingState, #CheckoutForm_billingState, #CheckoutForm_shippingCountry, #CheckoutForm_billingCountry {width: 70%;}


#checkout #CheckoutForm_billingAddress1, #checkout #CustomerAddress_address1 { margin-bottom: 3px; }
#checkout #CheckoutForm_shippingAddress1 { margin-bottom: 3px; }
#checkout #createaccount legend { margin-left: 0px; }
#checkout #createaccount .instructions { margin-left: 15px; }
#checkout label[for="CheckoutForm_shippingResidential"],
#checkout label[for="CheckoutForm_billingResidential"] { margin-left:5px; line-height: 29px; }
#checkout label[for="CheckoutForm_billingSameAsShipping"],
#checkout label[for="CheckoutForm_receiveNewsletter"] { line-height: 10px; vertical-align: text-top; margin-left: 3px; }
#checkout label[for="CheckoutForm_shippingPriority"] { margin-bottom: 6px; }
#checkout #shippingPriority label { margin-top: 0px; }
#checkout #payment label { margin-left: 10px; }
#checkout #payment #CreditCardForm label { margin-left: 0px; }
#checkout #payment #CreditCardForm label[for="CheckoutForm_cardExpiryMonth"] { width: 100%; }
#checkout #CheckoutForm_orderNotes { width: 100%; margin-bottom: 20px; margin-left: 10px;}
#checkout #CheckoutForm_paymentProvider { width: 70%; max-width: 300px; padding-left: 10px; margin-left: 10px;}
#checkout #CheckoutForm_cardCVV { width: 70px;}
#checkout #Payforms .row { margin-left: 0px; }
#checkout #shippingProvider { width: 200px; min-height: 40px; margin-bottom: 6px;}
#checkout #shippingProviderRadio { padding-bottom: 10px; }
#checkout #shippingProviderRadio label { margin-top: 0px; }
#checkout #shippingPriorityRadio { padding-bottom: 10px; }
#checkout #shippingPriorityRadio input[type="radio"],
#checkout #CheckoutForm_shippingProvider input[type="radio"] { margin-top: 0px }
#checkout #shippingProvider label { display:inherit; margin-bottom: 4px; }
#checkout #ModuleMethod {font-size: 0.9em; width: 220px; height: 40px;}
#checkout #CalculateShippingCtrl { width: 200px; }
#checkout #recaptcha_response_field { border: 1px; width: 150px; text-transform: none;}
#checkout #PromoLabel {  }
#contact-form textarea { width: 100%;}
#checkout .addressblock { padding-bottom: 12px; height: 120px; }
#checkout .addresslabel { font-weight: bold; padding-bottom: 6px; }
#checkout .rememberMe .termsConditions { margin-left: 12px; }
#checkout .rememberMe .termsConditions label { text-transform: none; margin-top: 5px; margin-left: 27px; }
#checkout textarea {background-color: #9ED7DA; border: 1px dotted #3B4250; }

#redirect { margin-top: 80px; margin-bottom: 80px; }

.myaddress {margin-left: -15px;}
#CheckoutForm_intShippingAddress {margin-left: 15px;}
#commentsNote, .success label {margin-left: 10px;}

/***** Login popup box login_box.tpl.php *****/
#LoginForm { margin-bottom: 0px; }
#LoginForm label {display: block; margin-bottom: 15px;}
.login label { text-transform: uppercase; font-size: 0.9em; font-weight: normal;}
.login input[type="text"],.login input[type="password"],.login input[type="text"]:focus { text-transform: none; padding: 2px; margin: 0px; width: 200px;}
#LoginForm label[for=LoginForm_rememberMe] { display: inline; }

.forgotpassword, .forgotpassword a { text-transform: uppercase; font-size: 1.1em; font-weight: normal; }



#createaccount legend {margin-left: 10px; }
#createaccount .row {margin: 10px 0;}
#Customer_newsletter_subscribe {margin: 20px 0 0 20px;}

.sameAsBilling {margin-bottom: 20px; margin-left: 25px;}

.promoCodeLabel {padding: 0 0 10px 10px; margin-left: 5px; }

#ShoppingCart button {color: #eee; background-color: #3B4250; border: 10px solid #3B4250; height: 40px; margin-bottom: 20px;
	-webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}


#ShoppingCart button:hover {color: #eee; background-color: #FF434C; border: 10px solid #FF434C;}

#ShoppingCart .col-xs-6  {text-align: center;}

.termsConditions a {text-decoration: underline;}

#checkout #submitblock  {text-align: center;}


/***** wishlist search *****/
#wishlistdisplay .rowborder {margin-top: 30px;}

#wishlistsearch {margin-top: 20px;}

#WishlistSearch_email {border: 0px solid #3B4250; height: 25px; margin-left: 20px; }

#wishlistsearch #btnSubmit {margin-top: 20px;}

/***** Sitemap *****/
#sitemap ul {  margin-left:20px; list-style-type: square; line-height: 20px;}

/***** Messages from system *****/
.msg { text-align:  center; font-size: 1.2em;  font-weight: 600; padding-top: 30px; padding-bottom: 20px;}
.flash_message { font-size: 1.1em; font-weight: 600; background-border: 1px solid #ccaaaa; padding: 5px; margin-top: 5px; margin-bottom: 5px;}
/***** Order/SRO/Quote Display *****/
#orderdisplay .cartlabel, #orderdisplay .label { text-transform: uppercase; font-size: 0.9em; font-weight: 600 !important;  }
#orderdisplay input[type="text"],#genericcart input[type="text"]:focus { font-size: 1.1em; margin-bottom: 7px; border: 3px; border-bottom: 1px solid black; text-align: center; padding: 2px; height: 15px; }
#orderdisplay .qtybox { width: 30px;}
#orderdisplay fieldset { display:inline-block;  border-bottom: 2px dotted #e7e7e7; }
.myaddress { padding-bottom: 10px !important; height: 125px;}
.myaddress .default { color: #3DC0DC; font-size: 0.9em; font-style: italic; font-weight: 600; }

/***** Order/SRO/Quote Display *****/
#wishlistdisplay .rowborder { border-bottom: 1px dotted #6ACEEB;}
#wishlistdisplay .cartlabel { text-transform: uppercase; font-size: 0.9em; font-weight: 600; }
#wishlistdisplay .event_date { font-size: 0.8em;  margin-bottom: 20px; }
#wishlistdisplay .qtybox { width: 30px; font-size: 1.1em; margin-bottom: 7px; border: 3px; border-bottom: 1px solid black; text-align: center; padding: 2px; height: 15px;}
#wishlistdisplay .light { font-weight: 300; }
#wishlistdisplay .heading { font-size: 1.3em; }
#wishlistdisplay .comment { font-size: 0.9em; }
#wishlistdisplay .thin { margin-bottom: 4px; }
#wishlistdisplay .list_itemx {   line-height: 1em;}
#wishlistdisplay .list_image {float:left;  height: 36px; width: 36px; margin:auto; padding-top: 5px; padding-bottom: 5px; padding-right: 6px;}
#wishlistdisplay .list_item img {max-width: 100%; height: auto; display: block; margin-left: auto; margin-right: auto; }
#wishlistdisplay .wishshare { font-size: 0.9em; margin-top: 30px; margin-bottom: 20px;}
#wishlistdisplay .addcart {   height: 18px; padding-top: 4px; padding-bottom: 6px; margin-right: 18px; padding-left: 5px; padding-right: 5px; text-align: center;margin-bottom: 10px; cursor: pointer; float: left; text-transform: uppercase; font-size: 0.9em;}
#wishlistdisplay .addcart a { margin-top: 20px;  text-transform: uppercase; font-size: 0.8em;}
#wishlistdisplay .sharelist {  height: 18px; padding-top: 4px; padding-bottom: 6px; margin-right: 18px; padding-left: 5px; padding-right: 5px; text-align: center;margin-bottom: 10px; cursor: pointer; float: left; text-transform: uppercase; font-size: 0.9em;font-weight: 600;}
#wishlistdisplay .sharelist a { margin-top: 20px;  text-transform: uppercase; font-size: 0.8em;}
#wishlistdisplay .editwish {  height: 18px; padding-top: 4px; padding-bottom: 6px; margin-right: 18px; padding-left: 5px; padding-right: 5px; text-align: center;margin-bottom: 10px; cursor: pointer; float: left; text-transform: uppercase; font-size: 0.9em;font-weight: 600;}
#wishlistdisplay .editwish a { margin-top: 20px;  text-transform: uppercase; font-size: 0.8em;}
#wishlistdisplay label[for=Wishlist_deleteMe] { display: inline; }
#Wishlist_ship_option { width: 400px; font-size: 0.9em; height: 36px;}
#WishlistEditForm { margin-bottom: 0px; }
#WishlistEditForm_qty, #WishlistEditForm_qty_received { width: 50px;}
#WishlistEditForm_priority { width: 240px; }
#WishlistEditForm_comment, #Wishlist_registry_description { width: 320px; height: 70px;}
#btnAddWishList { margin-left: 120px;}
#btnWishList, #btnSendWishList { margin: 20px 0 0 125px; }
#btnWishListDelete { margin-left: 115px; margin-top: 20px;}
#wishlistdisplay .btnDelete { }
#ShareForm { width: 300px; margin-bottom: 0px;}
#ShareForm_toName { width: 290px;}
#ShareForm_toEmail { width: 290px;}
#ShareForm_comment { width: 300px; height: 80px; font-size: 0.8em; }

#wishlistdisplay .col-sm-5, #wishlistdisplay .col-sm-10 {padding-left: 0px;}

/***** Footy *****/
#footer { clear: both; margin-top: -20px;}
#footer .addresshours { height: 105px; margin: 30px 0px 30px 0; padding-top: 30px; padding-bottom: 7px; line-height: 1.2em;}
#footer .addresshours .indentl { margin-left: 40px; margin-right: -40px; text-transform: uppercase; text-align: left; }
#footer .addresshours .indentr { margin-right: 20px; margin-left: -20px; text-transform: uppercase;}
#footer .bottomtabs { text-transform: uppercase; text-align: center; font-size: 0.9em;  }
#footer .bottomtabs a { font-size: 1.1em; font-weight: 400; }
#footer .copyright { text-align: center; text-transform: uppercase;  font-size: 0.8em; margin-bottom: 40px; }

/****** jCarousel skin ******/
/* If you set the slider photo size larger than 170px in Admin Panel, you will need to also adjust the following two lines */
.carousel { margin-top: 30px; margin-bottom:20px; }
.jcarousel-skin-slider .jcarousel-clip-horizontal { width:100%; height:180px; }
.jcarousel-skin-slider .jcarousel-item { height:180px; }
.jcarousel-skin-slider .jcarousel-container{-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;border:1px solid #3B4250; }
.jcarousel-skin-slider .jcarousel-direction-rtl { direction:rtl; }
.jcarousel-skin-slider .jcarousel-container-horizontal { width:100%;padding:20px 40px; }
.jcarousel-skin-slider .jcarousel-clip { overflow:hidden; }
.jcarousel-skin-slider .jcarousel-item-horizontal{margin-left:0;margin-right:10px}
.jcarousel-skin-slider .jcarousel-direction-rtl .jcarousel-item-horizontal{margin-left:10px;margin-right:0}
.jcarousel-skin-slider .jcarousel-item-placeholder{ }
.jcarousel-skin-slider .jcarousel-next-horizontal{position:absolute;top:43px;right:5px;width:32px;height:32px;cursor:pointer;background:transparent url(images/next-horizontal.png) no-repeat 0 0}
.jcarousel-skin-slider .jcarousel-direction-rtl .jcarousel-next-horizontal{left:5px;right:auto;background-image:url(images/prev-horizontal.png)}
.jcarousel-skin-slider .jcarousel-prev-horizontal{position:absolute;top:43px;left:5px;width:32px;height:32px;cursor:pointer;background:transparent url(images/prev-horizontal.png) no-repeat 0 0}
.jcarousel-skin-slider .jcarousel-direction-rtl .jcarousel-prev-horizontal{left:auto;right:5px;background-image:url(images/next-horizontal.png)}
.jcarousel-skin-slider .jcarousel-next-horizontal:hover,.jcarousel-skin-slider .jcarousel-next-horizontal:focus,.jcarousel-skin-slider .jcarousel-prev-horizontal:hover,.jcarousel-skin-slider .jcarousel-prev-horizontal:focus{background-position:-32px 0}
.jcarousel-skin-slider .jcarousel-next-horizontal:active,.jcarousel-skin-slider .jcarousel-prev-horizontal:active{background-position:-64px 0}
.jcarousel-skin-slider .jcarousel-next-disabled-horizontal,.jcarousel-skin-slider .jcarousel-next-disabled-horizontal:hover,.jcarousel-skin-slider .jcarousel-next-disabled-horizontal:focus,.jcarousel-skin-slider .jcarousel-next-disabled-horizontal:active,.jcarousel-skin-slider .jcarousel-prev-disabled-horizontal,.jcarousel-skin-slider .jcarousel-prev-disabled-horizontal:hover,.jcarousel-skin-slider .jcarousel-prev-disabled-horizontal:focus,.jcarousel-skin-slider .jcarousel-prev-disabled-horizontal:active{cursor:default;background-position:-96px 0}
.jcarousel-skin-slider .caption { font-size: 9pt;  text-transform: uppercase; max-width: 150px;}

/****** tweaks ******/
.midrow { margin-bottom: 12px;}
.shortrow { margin-bottom: 2px;}

.alert-warning {color: #3B4250; border: 1px dotted #6ACEEB; background-color: #F6FAFB; margin-top: 20px;}


/****** account areas ******/

#orderdisplay .col-sm-12, #orderdisplay .col-sm-8, #orderdisplay .col-sm-3, #orderdisplay .col-sm-4 {padding-left: 0px;}
#orderdisplay h1 {padding-bottom: 10px;}
#orderdisplay .row {padding: 0 0 10px 0;}

#CustomerAddress_state_id {width: 225px;}

.rememberMe {padding-top: 20px;}

.rememberMe label {}
.rememberMe input {float: left;}
#defaultShippingAddress {margin-top: -20px; }

.cartNotes {padding-left: 15px;}
#cartTaxes .col-sm-offset-6 {margin-left: 0%;}

/* create account form */

#checkout {margin-bottom: 20px;}

#checkoutHeader {padding-left: 25px; font-size: 30px;}

#checkout legend {text-align: left; padding-left: 10px;}
#contact-form label {text-align: right; margin: 10px 0;}
#passMsg {padding-left: 20px;}


/* wishlist page */
#wishlistForm .row {margin-bottom: 20px;}
#Wishlist_registry_description, #checkout input#Wishlist_registry_name, #checkout input#Wishlist_event_date {width: 70%;}
.hasDatepicker {margin-bottom: 20px;}

/* wishlist popup */

#WishitemShareForm input, #WishitemShareForm label { display: block;}

/* footer */

#footer .addresshours .indentl {margin-left: 1%; margin-right: 0; width: 40%; float: left;}
#footer .addresshours .indentr { margin-right: 1%; margin-left: 0px; width: 50%; float: right;}


/***** Global adjustments as we resize down ******/


@media only screen and (min-width: 767px) and (max-width: 1200px) { /*iPad and below */



    .menutab { font-size: 0.9em;}

    h1 {text-align: center; margin-bottom: 30px;}

    #headerimage img {max-width: 100%; }

    li.menutab {padding: 0px 10px 10px 10px; margin-top: -10px; }
    li.menuheight  {height: 25px;}

    #menubar li {text-align: left; padding-left: 0px;}

    li.mainMenuBtn { width: 17%; }

    .products {margin-top: 10px;}
    .products, #menutree {text-align: left; }


    .container, .col-sm-12 {
        padding-right: 0px;
        padding-left: 0px;
        margin-right: auto;
        margin-left: auto;
    }


    #topbar .col-sm-6 {padding-left: 0px; padding-right: 0px;}

    #menubar {margin: 0px 0 0px 0; padding-top: 20px;}

    #menubar li { padding-top: 10px;}
    #menutabs { padding-top: 0px; margin-left: -0px;}



    #headerimage { margin-top: 0px; padding: 0px;  text-align: center; background: #295A7F;}

    .shoppingnavigation {padding: 5px 0; }

    #login, #shoppingcart {padding-top: 5px; }
    #login, #login a {  margin-left: -0px;}


    #shoppingcart {margin-right: 0px; }

    .shoppingnavigation a, #login a {text-align: center;}


    .products { margin-top: 34px; text-align: center;}
    .breadcrumbs {margin: 10px 0 0 0;}
    #custom_content {margin-left: 10%;}
    #productImage, #product_details h1  {text-align: center;}

    #sharingtools {text-align: center;}

    .description h2 {text-align: center; font-size: 1.5em; padding-top: 20px;}
    #product_details h3 {margin-bottom: 0; margin-top: 0; line-height: 0px;}



    /* product page */


    #Product_title {padding: 10px 0 10px 0; }
    .productDetails {float: left; width: 50%; border-right: 1px dotted #6ACEEB; }
    #product_details h2, #product_details #Product_code, #product_details #Product_FormattedPrice, #Product_InventoryDisplay {text-align: center;}
    #product_details .description {margin-left: 10%;}
    .productBtns {float: right; width: 50%; text-align: center;}
    #product_details .wishlist {float: none; width: 100px; margin: 20px  auto;}
    #product_details .addcart {float: none; width: 100px; margin: 0px  auto;}
    .description h2 { text-align: center;}
    #product_details h2 {  padding: 0px 0px 0px 0px; }

    #product_details .addcart, #product_details .wishlist { }


    #productDetails li {text-align: left;}


    /* registration page */

    #myaccount {margin-left: 10%;}

    #checkout legend { text-align: center; margin-left: 10%;}

    #checkout label, #contact-form label {margin: 15px 0 3px 15%;}

    #checkout input[type="text"], #checkout input[type="password"], #checkout input[type="email"], #checkout input[type="select"], #checkout input[type="text"]:focus, #checkout input[type="password"]:focus, #checkout input[type="email"]:focus, #checkout input[type="select"]:focus,  {
        width: 70%;
        margin-left: 15%;
    }


    #checkout select {width: 70%; margin-left: 15%;}
    #submitblock, .promoCodeLabel {text-align: center; margin-top: 10px;}
    #submitblock {margin: 20px 0 0 0px; text-align: center !important;}


    #genericcart {padding-top: 20px;}
    #ShoppingCart .col-xs-6 {margin-top: 20px; text-align: center;}
    .errorMessage {text-align: center; border-top: 1px dotted #6ACEEB; padding-top: 20px;}

    #product_details .intQty { width: 100%; padding-top: 20px; }
}



@media (min-width: 600px) {

/* registration page */

#checkout label { font-size: 0.9em; font-weight: normal; margin: 15px 0 3px 0%; }
.wishlistForm #checkout label { margin: 0px !important; }

#checkout input[type="text"], #checkout input[type="password"], #checkout input[type="email"], #checkout input[type="select"],#checkout input[type="text"]:focus,#checkout input[type="password"]:focus, #checkout input[type="email"]:focus, #checkout input[type="select"]:focus { font-size: 1.2em; border: 7px solid #E5E5E5; text-transform: none; padding: 2px; margin: 0;  }

.submitblock {margin: 20px 0 0 0px; text-align: center;}

}

@media (min-width: 768px) and (max-width: 1199px) { 

.container {
max-width: 100%;
}	

#menubar {padding: 20px 0px 30px 0px; margin-bottom: -20px;}

#menubar li {  padding: 0 10px; }

#searchentry  {margin: -40px 0 30px 0; }
#searchentry .search_box {float: right; margin: -0px 35px 0 0%; }
.search_advanced {margin: -5px 0 0 00px; position: absolute; display: none;} 

.contactNote, .note {margin-left: 5%;}
#contact-form .col-sm-5 {margin-left: 5%; padding-right: 0px;}
 }

@media (max-width: 767px) {

    .container { max-width: 100%; padding-right: 0px; padding-left: 0px;}

    .mainClm, .leftSidebar {float: none; padding-top: 10px;}
    .leftSidebar {width: 80%; margin-left: 10%;}


    #headerArea { height: auto; padding-top: 0px;}
    #shoppingcart .carticon {display: none;}

    #headerimage {padding: 25px 0 15px 0px;}
    .navbar-header {width: 100%;}
    .navbar-collapse {padding-right: 0px; padding-left: 0px; box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.0); border-top: 0px solid transparent;}
    .navbar-toggle {padding: 35px 35px 0 0;}

    li.mainMenuBtn {float: none; width: 100%; text-align: center; padding: 3px 0; margin-left: -30px;}

    #searchentry {display: block; position: relative; float: none; width: 100%; margin: 10px auto 10px auto; padding: 10px 0 0;  }
    #searchentry .search_box  { width: 80%; margin-left: 10%;}
    #searchentry .search_box input { width: 90%;}

    .products, #menutree {text-align: center; }

    /*#viewport { margin: -25px 0 0 0px;}*/

    .note {margin-top: 20px;}
    #contact-form input[type="text"], #contact-form input[type="password"], #contact-form input[type="email"], #contact-form input[type="select"],#contact-form input[type="text"]:focus,#contact-form input[type="password"]:focus, #contact-form input[type="email"]:focus, #contact-form input[type="select"]:focus { width: 70%; margin-left: 15% !important; }

    #contact-form textarea { width: 70%; margin-left: 15% !important; }


    .breadcrumbs { margin: 15px 0 5px 0px; padding: 10px 0 15px 10px; }

    #contactFormContainer h1 {margin: 20px 0; text-align: center;}

    #shoppingcart { margin-right: 0px; width: 100px; }

    /* left sidebar */

    #menutree {margin-left: -15px !important; width: 100% !important;}
    #menutree a {width: 100%; text-align: center ; padding: 7px 0; margin-left: 0px; }


    .products {padding: 0px !important; margin-left: -0px !important; width: 100% !important; margin-top: 10px !important; text-align: center;}

    /* product page */

    #product_details h1 {margin: 15px 0 25px 0;}

    .description h2 {text-align: center; }

    #yw1-widget {padding: 20px 0; }

    .productDetails {text-align: center;}

    .productBtns  {width: 60%; margin-left: 20%; display: inline; }

    .productDetails li {text-align: left !important; margin-left: 30%;}

    #product_details .wishlist { padding: 5px 5px 5px 5px; }

    /*#product_details .addcart {float: right;}*/

    #product_details .wishlist a { padding-top: 0px; margin-top: -5px; }

    #custom_content { text-align: center; padding: 20px 0 ;}


    /* checkout page */
    h1 {margin-bottom: 10px;}
    .note {text-align: center; margin: 10px 0 5px 0;}
    #passMsg {text-align: center;}

    #checkoutHeader {padding-left: 0px; text-align: center;}

    #checkout input[type="text"], #checkout input[type="password"], #checkout input[type="email"], #checkout input[type="select"],#checkout input[type="text"]:focus,#checkout input[type="password"]:focus, #checkout input[type="email"]:focus, #checkout input[type="select"]:focus {width: 70%; margin-left: 15%;}

    #CheckoutForm_shippingState, #CheckoutForm_billingState, #CheckoutForm_shippingCountry, #CheckoutForm_billingCountry, #CheckoutForm_paymentProvider {margin-left: 15%;}

    #genericcart .cartHeaderLeft { width: 100px;}

    #CheckoutForm_btnPromoCode, #btnCalculate {width: 50%; margin: 20px 0 0 25%;}

    #checkout #submitblock, {text-align: center; }
    .registerHeader {padding-left: 0px; text-align: center;}
    #checkout legend { text-align: center; }
    .submitblock { text-align: center; margin: 20px 0;}
    #checkout  label {text-align: center; margin: 0; width: 70%; margin-left: 15%;}
    #commentsNote label {text-align: center; margin: 0;}

    #wishlistdisplay .col-sm-6 {padding-left: 0px;}


    .promoCodeLabel, .sameAsBilling,  {text-align: center;}

    .promoCodeLabel {text-align: center; padding: 0 0 10px 0px;}

    .myaddress {margin-left: 15%;}

    #checkout #payment label, #checkout #payment input[type="text"] { margin-left: 0px; text-align: center; width: 100% }
    #checkout #CheckoutForm_paymentProvider select { margin-bottom: 20px; width: 100%; text-align: center; }
    #checkout #payment #CreditCardForm label { width: 100%; }
    #checkout fieldset { margin-left: 0px; }
    #checkout #checkoutShoppingCart legend { padding-left: 0px; }

    /* advanced search page */
    #advancedSearchHeader {text-align: center;}
    #advancedsearch label {text-align: center;}
    #advancedsearch input, #AdvancedSearchForm_cat {width: 70%; margin-left: 15%;}

    #advancedsearch input#btnSubmit {margin: 30px 0 10px 15%; width: 70%; float: none;}

    .errorMessage {text-align: center;}

    /* wishlist page */
    #wishlistTitle {text-align: center;}
    #Wishlist_registry_description, #Wishlist_ship_option {margin-left: 15%; width: 70%;}

    /* cart items */
    #genericcart .cart_qty .cart_qty_box { width: 100%; }

    /* footer */
    #footer .addresshours { min-height: 120px; }
}

@media (min-width: 1025px) {
    .visible-mobile { display: none; visibility: hidden; }
    .hidden-mobile { display: inline-block; display: -moz-box; }
}

@media (min-width: 768px) {
    .visible1-mobile { visibility: hidden; }
    .hidden1-mobile { display: inline-block; display: -moz-box; }
}

@media  (max-width: 1024px) {
    .visible-mobile { display: inline-block; display: -moz-box; }
    .hidden-mobile { display: none; visibility: hidden; }
    #pinterest a {
        display: inline-block;
        background-image: url("http://passets.pinterest.com/images/pidgets/pinit_bg_en_rect_gray_20_2.png");
        background-size: 40px 60px;
        background-position: 0 -20px;
        height: 20px;
        width: 40px;
    }
}

@media (max-width: 767px) {
    .visible1-mobile { display: inline-block; display: -moz-box; }
    .hidden1-mobile { visibility: hidden; }
}

@media (max-width: 500px) {

    #shoppingcart .carticon {display: none;}
    #shoppingcartbottom .cart_price {float: none; }
    #checkout #payment { text-align: center; }
    #checkout #CheckoutForm_orderNotes { width: 95%; }
}

@media (max-width: 380px) {
    #product_details .intQty { margin-top: -20px; }
    #footer .addresshours { padding-top: 10px; }
    #shoppingcart { width: 85px; }
    #btnCalculate { min-width: 200px; margin-left: 0px; }
    #checkout #shipping .col-sm-3 { text-align: center; }
    #genericcart .table { table-layout: fixed; margin-left: -3px; }
    #genericcart .table .desc { width: 110px; }
    #genericcart .table .mlt, #genericcart .table .eql { text-align: right; width: 10px; }
}
