::-webkit-input-placeholder { color: #aaa !important; }
:-moz-placeholder { /* Firefox 18- */ color: #aaa !important; }
::-moz-placeholder { /* Firefox 19+ */ color: #aaa !important ; }
:-ms-input-placeholder { color: #aaa !important; }

.quantity input, input.cc-exp , input.creditcard-number ,.editcartmodal input.promo-code-value, #MultiCheckoutForm_orderNotes{
  &:focus{
    /* -webkit-focus-ring-color = '#5B9DD9' */
    outline: #5B9DD9 auto 5px!important;
  }
}

//remove "clear field" X buttons IE
::-ms-clear {
   display: none;
}