.webstore-estimator {
  &.recalculate {
    td {
      visibility: hidden;
      color: #f8f8f8;

      &:after { visibility: visible; }
    }
    td.csspinner:after {
      top: 27px;
      left: 45px;
    }
  }

  form {
    margin-top: 6px;
    display: block;
  }
  input, button {
    float: left;

    &:focus {
      outline: none;
      box-shadow: inset 1px 1px 2px rgba(0,0,0,.1);
      border: 1px solid #bbb;
    }
  }
  input {
    border: 1px solid #ccc;
    padding: 9px 8px;
  }

  select.webstore-estimator-country-form, select#webstore-estimator-country-form {
    -webkit-appearance: menulist;
    margin: 8px 0 0;
    border: solid 1px #ccc;
  }

  button {
    padding-left: 8px;
    padding-right: 8px;
  }

  a.webstore-estimator-country {
    float: right;
    color: #999;
    text-decoration: none;
    border-bottom: 1px dotted #ccc;
    font-size: .75rem;
    display: inline-block;
    padding: 2px 0 0;
    font-weight: normal;
    &:active{
      color: #888;
    }

    &:hover {
      //commented out by design
      //				color: $calltoaction-color;
      //				border-bottom: 1px solid $calltoaction-color;
    }
  }
}

@media (min-width: 560px){
  .shipping-postal-entry input {
//    border: 1px solid #ddd;
  }
}
.shipping-postal-entry{
  position: relative;
  display: block;
  button.inset{
    right: 8px;
    top: 7px;
  }
}
.shipping-postal-entry input, .shipping-postal-entry input:focus {
  font-size: .875rem;
  width: 100%;
  padding: 10px;
  outline: none;
  box-shadow: inset 1px 1px 2px rgba(0,0,0,.1);
  border: 1px solid #bbb!important;
}





.webstore-shipping-choices form {
  z-index: 10;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  min-height: 150px;
  background-color: #fff;
  margin: 0;
  padding: 0 0 67px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

@media (min-width: 560px){
  .webstore-shipping-choices input[type="button"] {
    font-size: .875rem;
    padding: 10px;
  }
}


.webstore-shipping-choices input[type="button"] {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

@media (min-width: 560px){
  .webstore-shipping-choices form {
    left: -265px;
    top: -24px;
    width: 250px;
    padding: 0 0 39px;
  }
}


//webstore-estimator-country